---
const { buttonText, ButtonHref } = Astro.props;
---

<a href={ButtonHref} class="c-button-top">{buttonText}</a>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .c-button-top {
    display: inline-flex;
    align-items: center;
    gap: 29px;
    padding: 5px 17px 5px 20px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #fff;
    font-size: 10px;
    font-weight: 700;

    &::after {
      content: "";
      width: 11px;
      height: 9px;
      background-image: url(/assets/images/global/icon-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      filter: invert(34%) sepia(63%) saturate(339%) hue-rotate(347deg) brightness(99%) contrast(93%);
    }
  }

  @include mq() {
    .c-button-top {
      gap: 36px;
      padding: 4px 18px 4px 20px;
      border-radius: 10px;
      font-size: 14px;
      line-height: calc(30 / 14);

      &::after {
        width: 13px;
        height: 11px;
      }
    }
  }

  @media (any-hover: hover) {
    .c-button-top {
      transition: color .3s ease;

      &:hover {
        color: var(--color-baby-pink);

        &::after {
          filter: invert(97%) sepia(91%) saturate(6024%) hue-rotate(294deg) brightness(100%) contrast(96%);
        }
      }

      &::after {
        transition: filter .3s ease;
      }
    }
  }

</style>
