---
import SectionTitle from "../SectionTitle.astro";
---

<section class="life-mimomi-hoiku">
  <div class="life-mimomi-hoiku-body">
    <div class="l-container-s">
      <div class="life-mimomi-hoiku-title">
        <SectionTitle
          title1="みもみ保育"
        />
      </div>
      <div class="life-mimomi-hoiku-content l-section-body">
        <div class="life-mimomi-hoiku-item">
          <h3 class="life-mimomi-hoiku-title-lv3">日常の保育</h3>
          <p class="life-mimomi-hoiku-lead">※体操、もじ・ことば・かずは専門の先生に指導していただきます。全学年が対象です。</p>
          <div class="life-mimomi-hoiku-wrapper">
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--exercise">体操</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">3年間で徐々に体力をつけ、みんなと一緒に決まりを守って運動する喜びや楽しさを感じられるような活動を取り入れています。自ら健康で安全な生活を作り出すようになる為に、体を動かす習慣をつけ、じょうぶな体づくりを目指します。</p>
                <p class="life-mimomi-hoiku-paragraph">年長3学期には、なわとび大会、マラソン大会を実施しています。諦めずにやり遂げることで達成感を味わい、「よく頑張った！」と認めることで意欲を引き出す経験を大切にしています。</p>
                <p class="life-mimomi-hoiku-paragraph">夏にはプール指導を取り入れています。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--3rs">もじ・ことば・かず</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">遊びや生活の中で、数量や文字の役割に気付き、これらを活用できるよう、幼児期に合わせたカリキュラムで楽しく学びます。ほめて、認めて、励まして。子ども達のやる気を高めます。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--birth-fes">誕生会</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">月に1度。その月の誕生日のお友達を全学年でお祝いします。各学年、歌を歌ったり、先生達からの劇のプレゼントがあったり...楽しいことがいっぱいです。当日は、皆でクッキーをいただきます。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--nature">生き物・自然との触れ合い</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">カメのきゃめ吉くんを飼育しています。じっくり見て観察画を描いたり、触れてみたり...。夏になると、どんぐり広場には沢山のカブトムシとクワガタが！子ども達は喜んで捕まえ、大切に飼育しています。みもみ農園では一年を通し、じゃがいもやさつまいも、ミニトマトやヒヤシンスを育てたり...。沢山の自然と触れ、心動かされる体験を通して、命あるものを大切に思う気持ちを育みます。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
          </div><!-- /.life-mimomi-hoiku-wrapper -->
        </div><!-- /.life-mimomi-hoiku-item -->
        <div class="life-mimomi-hoiku-item">
          <h3 class="life-mimomi-hoiku-title-lv3">日本の伝統文化体験</h3>
          <p class="life-mimomi-hoiku-lead">専門の先生に指導していただきます。※年長のみが対象です。</p>
          <div class="life-mimomi-hoiku-wrapper">
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--tea-ceremony">茶道</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">“静”と“動”を大切に。日本の伝統文化に触れ、礼儀作法を身に付けます。また、落ち着きを保ち、集中力を養い小学校へ向けて“心”を育みます 。卒園前に保護者の方を茶室にお招きして子ども達のお点前を披露します。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
            <div class="life-mimomi-hoiku-description">
              <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--calligraphy">書道</h4>
              <div class="life-mimomi-hoiku-text">
                <p class="life-mimomi-hoiku-paragraph">文字に興味、関心を持った時期に、とめ、はね、はらいを意識して 、正しい文字の形や書き順を覚えます。</p>
              </div><!-- /.life-mimomi-hoiku-text -->
            </div><!-- /.life-mimomi-hoiku-description -->
          </div><!-- /.life-mimomi-hoiku-wrapper -->
          <div class="life-mimomi-hoiku-photos life-mimomi-hoiku-photos--sp">
            <div class="life-mimomi-hoiku-image-left">
              <div class="life-mimomi-hoiku-image">
                <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-sp-01@2x.webp" alt="ボールを投げてドッジボールをする園児たち" loading="lazy" decoding="async" width="100" height="72">
              </div><!-- /.life-mimomi-hoiku-image -->
              <div class="life-mimomi-hoiku-image">
                <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-sp-02@2x.webp" alt="書道で文字を学ぶ女の子" loading="lazy" decoding="async" width="100" height="72">
              </div><!-- /.life-mimomi-hoiku-image -->
            </div>
            <div class="life-mimomi-hoiku-image-right">
              <div class="life-mimomi-hoiku-image">
                <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-sp-03@2x.webp" alt="茶道室で正座し、お茶を点てる園児3人" loading="lazy" decoding="async" width="210" height="154">
              </div><!-- /.life-mimomi-hoiku-image -->
            </div><!-- /.life-mimomi-hoiku-image-right -->
          </div><!-- /.life-mimomi-hoiku-photos -->
          <div class="life-mimomi-hoiku-photos life-mimomi-hoiku-photos--pc">
            <div class="life-mimomi-hoiku-image">
              <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-pc-01@2x.webp" alt="ボールを投げてドッジボールをする園児たち" loading="lazy" decoding="async" width="250" height="180">
            </div><!-- /.life-mimomi-hoiku-image -->
            <div class="life-mimomi-hoiku-image">
              <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-pc-02@2x.webp" alt="茶道室で正座し、お茶を点てる園児3人" loading="lazy" decoding="async">
            </div><!-- /.life-mimomi-hoiku-image -->
            <div class="life-mimomi-hoiku-image">
              <img src="/assets/images/life/page-life/mimomi-hoiku/pic-life-mimomi-hoiku-pc-03@2x.webp" alt="書道で文字を学ぶ女の子" loading="lazy" decoding="async">
            </div><!-- /.life-mimomi-hoiku-image -->
          </div><!-- /.life-mimomi-hoiku-photos -->
        </div><!-- /.life-mimomi-hoiku-item -->
        <div class="life-mimomi-hoiku-item life-mimomi-hoiku-item--extracurricular">
          <h3 class="life-mimomi-hoiku-title-lv3 life-mimomi-hoiku-title-lv3--extracurricular">課外教室</h3>
          <p class="life-mimomi-hoiku-lead">お子様の「やってみたい！」気持ちを大切に、お子様の成長に合わせた課外教室を実施しています。<br>ご質問等、お気軽にご連絡ください。</p>
          <div class="life-mimomi-hoiku-description life-mimomi-hoiku-description--extracurricular-01">
            <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--extracurricular">サッカー</h4>
            <div class="life-mimomi-hoiku-text">
              <dl class="life-mimomi-hoiku-list">
                <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
                <dd class="life-mimomi-hoiku-definition">毎週水曜日</dd>
              </dl>
              <dl class="life-mimomi-hoiku-list">
                <dt class="life-mimomi-hoiku-term">小学生コース</dt>
                <dd class="life-mimomi-hoiku-definition">毎週火曜日</dd>
              </dl>
            </div><!-- /.life-mimomi-hoiku-text -->
          </div><!-- /.life-mimomi-hoiku-description -->
          <div class="life-mimomi-hoiku-description life-mimomi-hoiku-description--extracurricular-02">
            <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--equal-allocation life-mimomi-hoiku-title-lv4--extracurricular">体操</h4>
            <div class="life-mimomi-hoiku-text">
              <dl class="life-mimomi-hoiku-list">
                <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
                <dd class="life-mimomi-hoiku-definition">毎週火曜日</dd>
              </dl>
            </div><!-- /.life-mimomi-hoiku-text -->
          </div><!-- /.life-mimomi-hoiku-description -->
          <div class="life-mimomi-hoiku-description life-mimomi-hoiku-description--extracurricular-03">
            <h4 class="life-mimomi-hoiku-title-lv4 life-mimomi-hoiku-title-lv4--equal-allocation life-mimomi-hoiku-title-lv4--extracurricular">学研</h4>
            <div class="life-mimomi-hoiku-text">
              <dl class="life-mimomi-hoiku-list">
                <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
                <dd class="life-mimomi-hoiku-definition">毎週木曜日</dd>
              </dl>
              <dl class="life-mimomi-hoiku-list">
                <dt class="life-mimomi-hoiku-term">小学生コース</dt>
                <dd class="life-mimomi-hoiku-definition">毎週木曜日</dd>
              </dl>
            </div><!-- /.life-mimomi-hoiku-text -->
          </div><!-- /.life-mimomi-hoiku-description -->
          <small class="life-mimomi-hoiku-note">※CACスイミングスクール：毎週金曜日、幼稚園にCACの送迎バスが来ます。幼稚園から直接CACへ行くことが可能です。(年少は例年2学期頃からバスに乗車します。)</small>
        </div><!-- /.life-mimomi-hoiku-item -->
      </div><!-- /.life-mimomi-hoiku-content.l-section-body -->
    </div><!-- /.l-container-s -->
  </div><!-- /.life-mimomi-hoiku-body -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .life-mimomi-hoiku {
    padding: 57px 0 92px;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      width: 800px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      left: 50%;
      z-index: -1;
      translate: -50%;
    }

    &::before {
      height: 59px;
      background-image: url(/assets/images/life/page-life/mimomi-hoiku/bg-life-mimomi-hoiku-sp-top.svg);
      top: 0;
    }

    &::after {
      height: 94px;
      background-image: url(/assets/images/life/page-life/mimomi-hoiku/bg-life-mimomi-hoiku-sp-bottom.svg);
      bottom: 0;
    }
  }

  .life-mimomi-hoiku-body {
    background-color: #F6F2EE;
  }

  .life-mimomi-hoiku-content {
    display: grid;
    gap: 20px;
    max-width: 520px;
    margin: 30px auto 0;
  }

  .life-mimomi-hoiku-title-lv3 {
    padding: 5px 20px;
    background-color: var(--color-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;

    &--extracurricular {
      background-color: var(--color-blue);
    }
  }

  .life-mimomi-hoiku-lead {
    margin-top: 5px;
    line-height: 1.5;
    text-align: justify;
  }

  .life-mimomi-hoiku-wrapper {
    display: grid;
    gap: 10px;
    margin-top: 10px;
  }

  .life-mimomi-hoiku-description {
    &--extracurricular-01,
    &--extracurricular-02,
    &--extracurricular-03 {
      display: flex;
      align-items: flex-start;
      gap: calc(32 var(--vw-sp));
      padding: 6px 0 6px calc(16 var(--vw-sp));

      @media screen and (max-width: 374px) {
        padding-left: 10px;
      }
    }

    &--extracurricular-01 {
      border-top: 2px solid;
      margin-top: 10px;
    }

    &--extracurricular-02 {
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    &--extracurricular-03 {
      border-bottom: 2px solid;
    }
  }

  .life-mimomi-hoiku-title-lv4 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    line-height: 1.5;

    &--extracurricular {
      flex: 0 0 65px;
      gap: 0;
      margin-top: 6px;
    }

    &--equal-allocation {
      padding-left: .5em;
      letter-spacing: 1em;
    }

    &::before {
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &--exercise {
      &::before {
        width: 20px;
        height: 9px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-shoe.svg);
      }
    }

    &--3rs {
      &::before {
        width: 20px;
        height: 20px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-pencil.svg);
      }
    }

    &--birth-fes {
      &::before {
        width: 16px;
        height: 20px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-birth.svg);
      }
    }

    &--nature {
      &::before {
        width: 18px;
        height: 20px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-turtle.svg);
      }
    }

    &--tea-ceremony {
      &::before {
        width: 20px;
        height: 19px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-tea-ceremony.svg);
      }
    }

    &--calligraphy {
      &::before {
        width: 19px;
        height: 20px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/icon-life-mimomi-hoiku-calligraphy.svg);
      }
    }
  }

  .life-mimomi-hoiku-text {
    margin-top: 5px;
    text-align: justify;
  }

  .life-mimomi-hoiku-photos {
    margin-top: 20px;

    &--sp {
      display: flex;
      gap: 10px;
    }

    &--pc {
      display: none;
    }
  }

  .life-mimomi-hoiku-image-left {
    display: grid;
    gap: 10px;
  }

  .life-mimomi-hoiku-list {
    display: flex;
    gap: calc(38 var(--vw-sp));
  }

  .life-mimomi-hoiku-term {
    flex: 0 0 85px;
    font-weight: 400;
  }

  .life-mimomi-hoiku-note {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
  }

  @include mq() {
    .life-mimomi-hoiku {
      max-width: 2000px;
      padding: 140px 0 188px;
      margin: auto;

      &::before,
      &::after {
        width: 2000px;
      }

      &::before {
        height: 142px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/bg-life-mimomi-hoiku-pc-top.svg);
      }

      &::after {
        height: 190px;
        background-image: url(/assets/images/life/page-life/mimomi-hoiku/bg-life-mimomi-hoiku-pc-bottom.svg);
      }
    }

    .life-mimomi-hoiku-content {
      gap: 40px;
      max-width: initial;
      margin-top: 60px;
    }

    .life-mimomi-hoiku-title-lv3 {
      padding: 8px 20px;
      font-size: 20px;
      line-height: 1.5;
    }

    .life-mimomi-hoiku-wrapper {
      gap: 20px;
      margin-top: 20px;
    }

    .life-mimomi-hoiku-description {
      &--extracurricular-01,
      &--extracurricular-02,
      &--extracurricular-03 {
        gap: 59px;
        padding: 7px 0 14px 36px;
      }

      &--extracurricular-01 {
        margin-top: 20px;
      }
    }

    .life-mimomi-hoiku-title-lv4 {
      &--extracurricular {
        flex: 0 0 84px;
        margin-top: 11px;
      }

      &--exercise {
        &::before {
          width: 30px;
          height: 14px;
        }
      }

      &--3rs {
        &::before {
          width: 30px;
          height: 30px;
        }
      }

      &--birth-fes {
        &::before {
          width: 24px;
          height: 30px;
        }
      }

      &--nature {
        &::before {
          width: 27px;
          height: 30px;
        }
      }

      &--tea-ceremony {
        &::before {
          width: 30px;
          height: 28px;
        }
      }

      &--calligraphy {
        &::before {
          width: 28px;
          height: 30px;
        }
      }
    }

    .life-mimomi-hoiku-text {
      margin-top: 10px;
    }

    .life-mimomi-hoiku-photos {
      margin-top: 40px;

      &--sp {
        display: none;
      }

      &--pc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
      }
    }

    .life-mimomi-hoiku-list {
      display: inline-flex;
      gap: 30px;

      &:nth-child(2) {
        margin-left: 72px;
        position: relative;

        &::before {
          content: "";
          width: 1px;
          height: 15px;
          background-color: currentColor;
          position: absolute;
          top: 7px;
          left: -44px;
          rotate: 19deg;
        }
      }
    }

    .life-mimomi-hoiku-term {
      flex: 1 1 auto;
    }

    .life-mimomi-hoiku-note {
      margin-top: 10px;
      font-size: 16px;
    }
  }
</style>
