---
import SectionTitle from "../SectionTitle.astro";
---

<section class="life-mimomi-hoiku">
  <div class="life-mimomi-hoiku-title">
    <SectionTitle
      title1="みもみ保育"
    />
  </div>

  <div class="life-mimomi-hoiku-content l-section-body">
    <div class="life-mimomi-hoiku-item">
      <h3 class="life-mimomi-hoiku-title-lv3">日常の保育</h3>
      <p class="life-mimomi-hoiku-lead">※体操、もじ・ことば・かずは専門の先生に指導していただきます。全学年が対象です。</p>
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">体操</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">3年間で徐々に体力をつけ、みんなと一緒に決まりを守って運動する喜びや楽しさを感じられるような活動を取り入れています。自ら健康で安全な生活を作り出すようになる為に、体を動かす習慣をつけ、じょうぶな体づくりを目指します。</p>
          <p class="life-mimomi-hoiku-paragraph">年長3学期には、なわとび大会、マラソン大会を実施しています。諦めずにやり遂げることで達成感を味わい、「よく頑張った！」と認めることで意欲を引き出す経験を大切にしています。</p>
          <p class="life-mimomi-hoiku-paragraph">夏にはプール指導を取り入れています。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">もじ・ことば・かず</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">遊びや生活の中で、数量や文字の役割に気付き、これらを活用できるよう、幼児期に合わせたカリキュラムで楽しく学びます。ほめて、認めて、励まして。子ども達のやる気を高めます。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">誕生会</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">月に1度。その月の誕生日のお友達を全学年でお祝いします。各学年、歌を歌ったり、先生達からの劇のプレゼントがあったり...楽しいことがいっぱいです。当日は、皆でクッキーをいただきます。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">生き物・自然との触れ合い</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">カメのきゃめ吉くんを飼育しています。じっくり見て観察画を描いたり、触れてみたり...。夏になると、どんぐり広場には沢山のカブトムシとクワガタが！子ども達は喜んで捕まえ、大切に飼育しています。みもみ農園では一年を通し、じゃがいもやさつまいも、ミニトマトやヒヤシンスを育てたり...。沢山の自然と触れ、心動かされる体験を通して、命あるものを大切に思う気持ちを育みます。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
    </div><!-- /.life-mimomi-hoiku-item -->
    <div class="life-mimomi-hoiku-item">
      <h3 class="life-mimomi-hoiku-title-lv3">日本の伝統文化体験</h3>
      <p class="life-mimomi-hoiku-lead">専門の先生に指導していただきます。※年長のみが対象です。</p>
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">茶道</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">“静”と“動”を大切に。日本の伝統文化に触れ、礼儀作法を身に付けます。また、落ち着きを保ち、集中力を養い小学校へ向けて“心”を育みます 。卒園前に保護者の方を茶室にお招きして子ども達のお点前を披露します。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">書道</h4>
        <div class="life-mimomi-hoiku-text">
          <p class="life-mimomi-hoiku-paragraph">文字に興味、関心を持った時期に、とめ、はね、はらいを意識して 、正しい文字の形や書き順を覚えます。</p>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-photos life-mimomi-hoiku-photos--sp">
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
      </div><!-- /.life-mimomi-hoiku-photos -->
      <div class="life-mimomi-hoiku-photos life-mimomi-hoiku-photos--pc">
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
        <div class="life-mimomi-hoiku-image">
          <img src="" alt="" loading="lazy" decoding="async">
        </div><!-- /.life-mimomi-hoiku-image -->
      </div><!-- /.life-mimomi-hoiku-photos -->
    </div><!-- /.life-mimomi-hoiku-item -->
    <div class="life-mimomi-hoiku-item">
      <h3 class="life-mimomi-hoiku-title-lv3">課外教室</h3>
      <p class="life-mimomi-hoiku-lead">お子様の「やってみたい！」気持ちを大切に、お子様の成長に合わせた課外教室を実施しています。<br>ご質問等、お気軽にご連絡ください。</p>
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">サッカー</h4>
        <div class="life-mimomi-hoiku-text">
          <dl class="life-mimomi-hoiku-list">
            <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
            <dd class="life-mimomi-hoiku-definition">毎週水曜日</dd>
          </dl>
          <dl class="life-mimomi-hoiku-list">
            <dt class="life-mimomi-hoiku-term">小学生コース</dt>
            <dd class="life-mimomi-hoiku-definition">毎週火曜日</dd>
          </dl>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">体操</h4>
        <div class="life-mimomi-hoiku-text">
          <dl class="life-mimomi-hoiku-list">
            <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
            <dd class="life-mimomi-hoiku-definition">毎週火曜日</dd>
          </dl>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <div class="life-mimomi-hoiku-description">
        <h4 class="life-mimomi-hoiku-title-lv4">学研</h4>
        <div class="life-mimomi-hoiku-text">
          <dl class="life-mimomi-hoiku-list">
            <dt class="life-mimomi-hoiku-term">年少〜年長</dt>
            <dd class="life-mimomi-hoiku-definition">毎週木曜日</dd>
          </dl>
          <dl class="life-mimomi-hoiku-list">
            <dt class="life-mimomi-hoiku-term">小学生コース</dt>
            <dd class="life-mimomi-hoiku-definition">毎週木曜日</dd>
          </dl>
        </div><!-- /.life-mimomi-hoiku-text -->
      </div><!-- /.life-mimomi-hoiku-description -->
      <small class="life-mimomi-hoiku-note">※CACスイミングスクール：毎週金曜日、幼稚園にCACの送迎バスが来ます。幼稚園から直接CACへ行くことが可能です。(年少は例年2学期頃からバスに乗車します。)</small>
    </div><!-- /.life-mimomi-hoiku-item -->
  </div><!-- /.life-mimomi-hoiku-content.l-section-body -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .life-mimomi-hoiku {

  }

  .life-mimomi-hoiku-title {

  }

  .life-mimomi-hoiku-content {

  }

  .l-section-body {

  }

  .life-mimomi-hoiku-item {

  }

  .life-mimomi-hoiku-title-lv3 {

  }

  .life-mimomi-hoiku-lead {

  }

  .life-mimomi-hoiku-description {

  }

  .life-mimomi-hoiku-title-lv4 {

  }

  .life-mimomi-hoiku-text {

  }

  .life-mimomi-hoiku-paragraph {

  }

  .life-mimomi-hoiku-photos {

  }

  .life-mimomi-hoiku-photos--sp {

  }

  .life-mimomi-hoiku-image {

  }

  .life-mimomi-hoiku-photos--pc {

  }

  .life-mimomi-hoiku-list {
    display: flex;
    gap: 20px;
  }

  .life-mimomi-hoiku-term {

  }

  .life-mimomi-hoiku-definition {

  }

  .life-mimomi-hoiku-note {

  }



</style>
