---
import SectionTitle from "../SectionTitle.astro";
---

<section class="life-timetable">
  <div class="life-timetable-title">
    <SectionTitle
      title1="園の一日"
    />
  </div>
  <!-- sp-list -->
  <div class="life-timetable-sp-list l-section-body">
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time">8:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title">朝の預かり保育</h3>
        <p class="life-timetable-sp-text">忙しいお母様のために、お子様をお預かりいたします。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-01@2x.webp" alt="幼稚園の制服を着て登園する女の子2人" loading="lazy" decoding="async" width="270" height="160">
        </div><!-- /.life-timetable-sp-image -->
      </div><!-- /.life-timetable-sp-description -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time life-timetable-sp-time--even">9:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title life-timetable-sp-title--even">順次登園、健康視診</h3>
        <p class="life-timetable-sp-text">着替え、持ち物整理を終えたら、自由遊びの始まりです。“とにかく時間があれば外遊び！”です。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-02@2x.webp" alt="制服を着た女の子がロッカーにリュックを掛ける様子" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time">10:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title">朝の会、一斉活動</h3>
        <p class="life-timetable-sp-text">クラスから"先生おはよ～みなさんおはよ〜」”と元気な歌声が聞こえてきます。製作、体操、集団ゲームなどの一斉活動や外遊びの時間です。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-03@2x.webp" alt="体操着を着て園庭を走る園児たち" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time life-timetable-sp-time--even">12:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title life-timetable-sp-title--even">給食</h3>
        <p class="life-timetable-sp-text"><span>沢山遊んだ後は給食の時間。</span><span>"みもみキッチン"で調理師さんが作ってくれたあたたかい給食をいただきます。</span></p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-04@2x.webp" alt="机を囲んで給食を食べる園児たち" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time">13:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title">帰りの会</h3>
        <p class="life-timetable-sp-text">着替え、帰りの支度をしたら帰りの会です。明日の予定を聞き、明日の幼稚園を楽しみに思い降園します。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-05@2x.webp" alt="机の横に立ち、先生の話を聞く園児たち" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time life-timetable-sp-time--even">14:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title life-timetable-sp-title--even">順次降園</h3>
        <p class="life-timetable-sp-text">通園方法によっ て降園時間は異なります。帰る時間ギリギリまで、自ら好きな遊びを選んで過ごします。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-06@2x.webp" alt="園庭で手をつなぎ歩く園児3人の後ろ姿" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
    <div class="life-timetable-sp-item">
      <p class="life-timetable-sp-time">18:00</p>
      <div class="life-timetable-sp-description">
        <h3 class="life-timetable-sp-title">預かり保育</h3>
        <p class="life-timetable-sp-text">18:00まで預かり保育を実施しています。年少～年長まで異年齢が交わる場です。室内や戸外で遊んだり、おやつを食べたりして過ごします。</p>
        <div class="life-timetable-sp-image">
          <img src="/assets/images/life/page-life/timetable/pic-life-timetable-07@2x.webp" alt="園庭の鉄棒で遊ぶ園児" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-sp-description -->
      </div><!-- /.life-timetable-sp-image -->
    </div><!-- /.life-timetable-sp-item -->
  </div><!-- /.life-timetable-sp-list.l-section-body -->

  <!-- pc-list -->
  <div class="life-timetable-pc-list l-section-body">
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title">朝の預かり保育</h3>
        <p class="life-timetable-pc-text">忙しいお母様のために、お子様をお預かりいたします。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time">8:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-01@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title life-timetable-pc-title--even">順次登園、健康視診</h3>
        <p class="life-timetable-pc-text">着替え、持ち物整理を終えたら、自由遊びの始まりです。“とにかく時間があれば外遊び！”です。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time life-timetable-pc-time--even">9:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-02@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title">朝の会、一斉活動</h3>
        <p class="life-timetable-pc-text">クラスから"先生おはよ～みなさんおはよ〜」”と元気な歌声が聞こえてきます。製作、体操、集団ゲームなどの一斉活動や外遊びの時間です。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time">10:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-03@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title life-timetable-pc-title--even">給食</h3>
        <p class="life-timetable-pc-text"><span>沢山遊んだ後は給食の時間。</span><span>"みもみキッチン"で調理師さんが作ってくれたあたたかい給食をいただきます。</span></p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time life-timetable-pc-time--even">12:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-04@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title">帰りの会</h3>
        <p class="life-timetable-pc-text">着替え、帰りの支度をしたら帰りの会です。明日の予定を聞き、明日の幼稚園を楽しみに思い降園します。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time">13:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-05@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title life-timetable-pc-title--even">順次降園</h3>
        <p class="life-timetable-pc-text">通園方法によっ て降園時間は異なります。帰る時間ギリギリまで、自ら好きな遊びを選んで過ごします。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time life-timetable-pc-time--even">14:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-06@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
    <div class="life-timetable-pc-item">
      <div class="life-timetable-pc-description">
        <h3 class="life-timetable-pc-title">預かり保育</h3>
        <p class="life-timetable-pc-text">18:00まで預かり保育を実施しています。年少～年長まで異年齢が交わる場です。室内や戸外で遊んだり、おやつを食べたりして過ごします。</p>
      </div><!-- /.life-timetable-pc-description -->
      <p class="life-timetable-pc-time">18:00</p>
      <div class="life-timetable-pc-image">
        <img src="/assets/images/life/page-life/timetable/pic-life-timetable-07@2x.webp" alt="" loading="lazy" decoding="async" width="270" height="160">
      </div><!-- /.life-timetable-pc-image -->
    </div><!-- /.life-timetable-pc-item -->
  </div><!-- /.life-timetable-pc-list.l-section-body -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .life-timetable {
    padding-bottom: 63px;
  }

  // SP
  .life-timetable-sp-list {
    display: grid;
    gap: 20px;
  }

  .life-timetable-sp-item {
    display: flex;
    gap: 25px;
    padding-left: 6px;
    position: relative;

    &::before {
      content: "";
      width: 2px;
      height: 420px;
      background-color: #fdddd1;
      position: absolute;
      top: 40px;
      left: 39px;
      z-index: -1;
    }

    &:nth-child(6) {
      &::before {
        display: none;
      }
    }

    &:last-child {
      &::before {
        top: calc(40px - 100%);
      }

      &::after {
        content: "";
        width: 4px;
        height: 150px;
        background-color: var(--color-base);
        position: absolute;
        top: 80px;
        left: 38px;
      }
    }
  }

  .life-timetable-sp-time {
    flex: 0 0 69px;
    display: grid;
    place-items: center;
    height: 80px;
    padding-left: .2em;
    background-color: var(--color-pink);
    color: #fff;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1.5;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

    &--even {
      background-color: var(--color-yellow);
    }
  }

  .life-timetable-sp-title {
    color: var(--color-pink);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2em;
    line-height: 1.5;

    &--even {
      color: var(--color-yellow);
    }
  }

  .life-timetable-sp-text {
    margin-top: 5px;

    span {
      display: block;
    }
  }

  .life-timetable-sp-image {
    margin-top: 10px;
  }

  // PC
  .life-timetable-pc-list {
    display: none;
  }

  @include mq() {
    .life-timetable {
      padding-bottom: 100px;
    }

    // SP
    .life-timetable-sp-list {
      display: none;
    }

    // PC
    .life-timetable-pc-list {
      display: grid;
      gap: 60px;
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
    }

    .life-timetable-pc-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      &::before {
        content: "";
        width: 2px;
        height: 260px;
        margin: auto;
        background-color: #fdddd1;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        z-index: -1;
      }

      &:nth-child(6) {
        &::before {
          display: none;
        }
      }

      &:last-child {
        &::before {
          top: -100%;
        }

        &::after {
          content: "";
          width: 4px;
          height: 50px;
          margin: auto;
          background-color: var(--color-base);
          position: absolute;
          top: 130px;
          right: 0;
          left: 0;
        }
      }
    }

    .life-timetable-pc-description {
      flex: 0 0 270px;
    }

    .life-timetable-pc-title {
      color: var(--color-pink);
      font-size: 20px;
      font-weight: 700;
      letter-spacing: .2em;
      line-height: 1.5;

      &--even {
        color: var(--color-yellow);
      }
    }

    .life-timetable-pc-text {
      margin-top: 10px;
    }

    .life-timetable-pc-time {
      flex: 0 0 86px;
      display: grid;
      place-items: center;
      height: 100px;
      padding-left: .2em;
      background-color: var(--color-pink);
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .2em;
      line-height: 1.5;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

      &--even {
        background-color: var(--color-yellow);
      }
    }

    .life-timetable-pc-image {
      flex: 0 0 270px;
    }
  }
</style>
