---
import SectionTitle from "../SectionTitle.astro";
---

<section class="life-annual-event l-section">
  <div class="life-annual-event-title">
    <SectionTitle
      title1="年間行事"
    />
  </div>
  <div class="life-annual-event-content l-section-body">
    <ol class="life-annual-event-list">
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3">1学期</h3>
        <p class="life-annual-event-content-text">入園式・こいのぼり集会(年長さんが作った大きなこいのぼりを園庭に飾ります)・参観日・さつまいもの苗植え・じゃがいも堀り・プール開き・七夕集会・年長お楽しみ会(すいか割り・盆踊り・出張プラネタリウム)・卒園1,２年生の同窓会</p>
        <div class="life-annual-event-image">
          <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-01-sp@2x.webp">
            <source media="(min-width: 768px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-01-pc@2x.webp">
            <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-01-sp@2x.webp" alt="" loading="lazy" decoding="async" width="210" height="301">
          </picture>
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-02@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-03@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-04@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-05@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-06@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-07@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
        </div><!-- /.life-annual-event-image -->
      </li>
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3">2学期</h3>
        <p class="life-annual-event-content-text">十五夜の会・運動会・介護施設訪問・遠足・さつまいも堀り・子どもイベント・避難訓練(消防車見学)・発表会・餅つき・観劇会</p>
        <div class="life-annual-event-image">
          <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-01-sp@2x.webp">
            <source media="(min-width: 768px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-01-pc@2x.webp">
            <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-01-sp@2x.webp" alt="" loading="lazy" decoding="async" width="210" height="301">
          </picture>
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-02@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-03@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-04@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-05@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-06@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-07@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
        </div><!-- /.life-annual-event-image -->
      </li>
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3">3学期</h3>
        <p class="life-annual-event-content-text">作品展・豆まき・お別れ遠足(年長)・じゃがいもの苗植え・なわとび大会(年長)・マラソン大会(年長)・お茶参観(年長)・卒園式</p>
        <div class="life-annual-event-image">
          <picture>
            <source media="(max-width: 767px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-01-sp@2x.webp">
            <source media="(min-width: 768px)" srcset="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-01-pc@2x.webp">
            <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-01-sp@2x.webp" alt="" loading="lazy" decoding="async" width="210" height="301">
          </picture>
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-02@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-03@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-04@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-05@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-06@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
          <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-07@2x.webp" alt="" loading="lazy" decoding="async" width="155" height="145">
        </div><!-- /.life-annual-event-image -->
      </li>
    </ol>
  </div><!-- /.life-annual-event-content.l-section-body -->

</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .life-annual-event {
    padding-bottom: 60px;
  }

  .life-annual-event-title {

  }

  .life-annual-event-image-sp {
    // display: none;
  }

  .life-annual-event-image-pc {
    // display: none;
  }


</style>
