---
import SectionTitle from "../SectionTitle.astro";
---

<section class="life-annual-event">
  <div class="life-annual-event-title">
    <SectionTitle
      title1="年間行事"
    />
  </div>
  <div class="life-annual-event-content l-section-body">
    <ol class="life-annual-event-list">
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3 life-annual-event-title-lv3--1st">1学期</h3>
        <p class="life-annual-event-content-text">入園式・こいのぼり集会(年長さんが作った大きなこいのぼりを園庭に飾ります)・参観日・さつまいもの苗植え・じゃがいも堀り・プール開き・七夕集会・年長お楽しみ会(すいか割り・盆踊り・出張プラネタリウム)・卒園1,２年生の同窓会</p>
        <div class="life-annual-event-image">
          <div class="life-annual-event-image-sp">
            <div class="life-annual-event-image-sp-top">
              <div class="life-annual-event-image-sp-top-left">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-01-sp@2x.webp" alt="掘ったじゃがいもを袋に詰めて運ぶ園児たち" loading="lazy" decoding="async" width="210" height="301">
              </div><!-- /.life-annual-event-image-sp-top-left -->
              <div class="life-annual-event-image-sp-top-right">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-02@2x.webp" alt="目隠しをしてスイカ割りをする男の子" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-03@2x.webp" alt="年長児が作った鯉のぼりが空を泳ぐ様子" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-04@2x.webp" alt="園児たちが輪になって盆踊りを踊る様子" loading="lazy" decoding="async" width="155" height="145">
              </div><!-- /.life-annual-event-image-sp-top-right -->
            </div><!-- /.life-annual-event-image-sp-top -->
            <div class="life-annual-event-image-sp-bottom">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-05@2x.webp" alt="ホールに生花と式次第が飾られた入園式の様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-06@2x.webp" alt="青い法被を着た教師が和太鼓を叩く盆踊りの様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-07@2x.webp" alt="幼稚園のプールで水遊びをする園児たち" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-sp-bottom -->
          </div><!-- /.life-annual-event-image-sp -->
          <div class="life-annual-event-image-pc">
            <div class="life-annual-event-image-pc-left">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-01-pc@2x.webp" alt="掘ったじゃがいもを袋に詰めて運ぶ園児たち" loading="lazy" decoding="async" width="275" height="310">
            </div><!-- /.life-annual-event-image-pc-left -->
            <div class="life-annual-event-image-pc-right">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-02@2x.webp" alt="目隠しをしてスイカ割りをする男の子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-03@2x.webp" alt="年長児が作った鯉のぼりが空を泳ぐ様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-04@2x.webp" alt="園児たちが輪になって盆踊りを踊る様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-05@2x.webp" alt="ホールに生花と式次第が飾られた入園式の様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-06@2x.webp" alt="青い法被を着た教師が和太鼓を叩く盆踊りの様子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-1st-07@2x.webp" alt="幼稚園のプールで水遊びをする園児たち" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-pc-right -->
          </div><!-- /.life-annual-event-image-pc -->
        </div><!-- /.life-annual-event-image -->
      </li>
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3 life-annual-event-title-lv3--2nd">2学期</h3>
        <p class="life-annual-event-content-text">十五夜の会・運動会・介護施設訪問・遠足・さつまいも堀り・子どもイベント・避難訓練(消防車見学)・発表会・餅つき・観劇会</p>
        <div class="life-annual-event-image">
          <div class="life-annual-event-image-sp">
            <div class="life-annual-event-image-sp-top">
              <div class="life-annual-event-image-sp-top-left">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-01-sp@2x.webp" alt="パラバルーンでポーズを決める運動会の園児たち" loading="lazy" decoding="async" width="210" height="301">
              </div><!-- /.life-annual-event-image-sp-top-left -->
              <div class="life-annual-event-image-sp-top-right">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-02@2x.webp" alt="大きなさつまいもを掲げる女の子（農園）" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-03@2x.webp" alt="幼稚園の餅つきで杵を振るう男の子" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-04@2x.webp" alt="発表会でステッキを持ちダンスをする女の子たち" loading="lazy" decoding="async" width="155" height="145">
              </div><!-- /.life-annual-event-image-sp-top-right -->
            </div><!-- /.life-annual-event-image-sp-top -->
            <div class="life-annual-event-image-sp-bottom">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-05@2x.webp" alt="消防車見学でホースなどを見学する園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-06@2x.webp" alt="動物の衣装で歌う発表会の園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-07@2x.webp" alt="運動会で二人組の技を披露する園児たち" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-sp-bottom -->
          </div><!-- /.life-annual-event-image-sp -->
          <div class="life-annual-event-image-pc">
            <div class="life-annual-event-image-pc-left">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-01-pc@2x.webp" alt="パラバルーンでポーズを決める運動会の園児たち" loading="lazy" decoding="async" width="275" height="310">
            </div><!-- /.life-annual-event-image-pc-left -->
            <div class="life-annual-event-image-pc-right">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-02@2x.webp" alt="大きなさつまいもを掲げる女の子（農園）" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-03@2x.webp" alt="幼稚園の餅つきで杵を振るう男の子" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-04@2x.webp" alt="発表会でステッキを持ちダンスをする女の子たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-05@2x.webp" alt="消防車見学でホースなどを見学する園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-06@2x.webp" alt="動物の衣装で歌う発表会の園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-2nd-07@2x.webp" alt="運動会で二人組の技を披露する園児たち" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-pc-right -->
          </div><!-- /.life-annual-event-image-pc -->
        </div><!-- /.life-annual-event-image -->
      </li>
      <li class="life-annual-event-item">
        <h3 class="life-annual-event-title-lv3 life-annual-event-title-lv3--3rd">3学期</h3>
        <p class="life-annual-event-content-text">作品展・豆まき・お別れ遠足(年長)・じゃがいもの苗植え・なわとび大会(年長)・マラソン大会(年長)・お茶参観(年長)・卒園式</p>
        <div class="life-annual-event-image">
          <div class="life-annual-event-image-sp">
            <div class="life-annual-event-image-sp-top">
              <div class="life-annual-event-image-sp-top-left">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-01-sp@2x.webp" alt="「大阪」がテーマの作品展の展示（獅子舞・くいだおれ人形）" loading="lazy" decoding="async" width="210" height="301">
              </div><!-- /.life-annual-event-image-sp-top-left -->
              <div class="life-annual-event-image-sp-top-right">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-02@2x.webp" alt="茶道の先生のお点前を見学する園児たち" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-03@2x.webp" alt="カンドゥーでアナウンサー体験をする園児たち" loading="lazy" decoding="async" width="155" height="145">
                <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-04@2x.webp" alt="作品展に展示された共同制作「くろくん」とイカの観察画" loading="lazy" decoding="async" width="155" height="145">
              </div><!-- /.life-annual-event-image-sp-top-right -->
            </div><!-- /.life-annual-event-image-sp-top -->
            <div class="life-annual-event-image-sp-bottom">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-05@2x.webp" alt="工事現場の仕事体験をする園児（カンドゥー）" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-06@2x.webp" alt="卒園式で証書を受け取る園児" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-07@2x.webp" alt="節分行事で登場した赤鬼と青鬼の様子" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-sp-bottom -->
          </div><!-- /.life-annual-event-image-sp -->
          <div class="life-annual-event-image-pc">
            <div class="life-annual-event-image-pc-left">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-01-pc@2x.webp" alt="「大阪」がテーマの作品展の展示（獅子舞・くいだおれ人形）" loading="lazy" decoding="async" width="275" height="310">
            </div><!-- /.life-annual-event-image-pc-left -->
            <div class="life-annual-event-image-pc-right">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-02@2x.webp" alt="茶道の先生のお点前を見学する園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-03@2x.webp" alt="カンドゥーでアナウンサー体験をする園児たち" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-04@2x.webp" alt="作品展に展示された共同制作「くろくん」とイカの観察画" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-05@2x.webp" alt="工事現場の仕事体験をする園児（カンドゥー）" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-06@2x.webp" alt="卒園式で証書を受け取る園児" loading="lazy" decoding="async" width="155" height="145">
              <img src="/assets/images/life/page-life/annual-event/pic-life-annual-event-3rd-07@2x.webp" alt="節分行事で登場した赤鬼と青鬼の様子" loading="lazy" decoding="async" width="155" height="145">
            </div><!-- /.life-annual-event-image-pc-right -->
          </div><!-- /.life-annual-event-image-pc -->
        </div><!-- /.life-annual-event-image -->
      </li>
    </ol>
  </div><!-- /.life-annual-event-content.l-section-body -->
</section>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .life-annual-event {
    padding-top: 28px;
    line-height: 1.5;
  }

  .life-annual-event-list {
    display: grid;
    gap: 20px;
    max-width: 520px;
    margin: auto;
  }

  .life-annual-event-title-lv3 {
    padding: 0 0 5px .2em;
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2em;

    &--1st {
      color: var(--color-pink);
    }

    &--2nd {
      color: var(--color-green);
    }

    &--3rd {
      color: var(--color-blue);
    }
  }

  .life-annual-event-content-text {
    margin-top: 5px;
    text-align: justify;
  }

  .life-annual-event-image {
    margin-top: 10px;
  }

  .life-annual-event-image-sp-top {
    display: flex;
    gap: calc(10 / 310 * 100%);
  }

  .life-annual-event-image-sp-top-left {
    width: calc(210 / 310 * 100%);
  }

  .life-annual-event-image-sp-top-right {
    display: grid;
    gap: calc(10 / 310 * 100%);
    width: calc(100 / 310 * 100%);
  }

  .life-annual-event-image-sp-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(10 / 310 * 100%);
    margin-top: calc(10 / 310 * 100%);
  }

  .life-annual-event-image-pc {
    display: none;
  }

  @include mq() {
    .life-annual-event {
      padding-top: 52px;
    }

    .life-annual-event-list {
      gap: 40px;
      max-width: initial;
    }

    .life-annual-event-title-lv3 {
      font-size: 20px;
    }

    .life-annual-event-content-text {
      margin-top: 10px;
    }

    .life-annual-event-image {
      margin-top: 20px;
    }

    .life-annual-event-image-sp {
      display: none;
    }

    .life-annual-event-image-pc {
      display: flex;
      gap: calc(20 / 780 * 100%);
    }

    .life-annual-event-image-pc-left {
      width: calc(275 / 780 * 100%);
    }

    .life-annual-event-image-pc-right {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6% 4%;
      width: calc(503 / 780 * 100%);
    }
  }
</style>
