---
import Layout from "../../layouts/Layout.astro";
import PageKv from "../../components/PageKv.astro";
import ButtonLink from "../../components/button/ButtonLink.astro";
import Cta from "../../components/Cta.astro";
---

<Layout
  subTitle="お知らせ - 未就園児教室のご案内"
  pgType="article"
  description=""
>

  <!-- blog-single-kv -->
  <div class="blog-single-kv">
    <PageKv
      title="お知らせ"
      imageSrcSp="/assets/images/kv/page-kv/pic-kv-blog-sp@2x.png"
      imageSrcPc="/assets/images/kv/page-kv/pic-kv-blog-pc@2x.png"
    />
  </div><!-- /.blog-single-kv -->

  <main class="blog-single-main l-section-body">
    <div class="l-container-s">
      <article class="blog-single-article">
        <div class="blog-single-head">
          <h1 class="blog-single-title">未就園児教室のご案内</h1>
          <div class="blog-single-meta">
            <span class="blog-single-category">募集案内</span>
            <time datetime="2025-05-01" class="blog-single-date">2025.05.01</time>
          </div><!-- /.blog-single-meta -->
        </div><!-- /.blog-single-head -->
        <div class="blog-single-thumbnail">
          <img src="/public/assets/images/blog/pic-blog-thumbnail-mi-shuen-ji@2x.jpg" alt="" loading="eager" decoding="async" width="800" height="512">
        </div><!-- /.blog-single-thumbnail -->

        <!-- single-content (microCMSリッチエディタより) -->
        <div class="blog-single-content">
          <h2 class="blog-single-content-heading-lv2">ぴよちゃん教室(2歳児)とリトルぴよちゃん教室(1歳児)</h2>
          <p class="blog-single-content-paragraph">みもみ幼稚園では、就学前のお子様が豊かな経験と成長を育むことを目的とした未就園児親子教室を開講しています。また、子育て相談も承っており、子育てをされる方々の情報を共有できる場でありたいと考えています。教室の後は、園庭やどんぐり広場で思いっきり遊んでくださいね。</p>
          <p class="blog-single-content-paragraph">※教室は学研教室の講師の方にご指導いただいています。<br>※現在、幼稚園主催の満3歳児教室も検討中です。</p>
          <p class="blog-single-content-paragraph">※園の駐車場、駐輪場がご利用いただけます。<br>※「未就園児教室について」の詳細ページを今後公開予定です。お楽しみにお待ちください。</p>

          <h3 class="blog-single-content-heading-lv3">ぴよちゃん教室(2歳児)</h3>
          <p class="blog-single-content-paragraph">対象：2歳児のお子様(2022.4.2～2023.4.1生まれ)と保護者の方</p>
          <p class="blog-single-content-paragraph">日時：<br>
            【月2回コース】<br>
            ・コースＡ　第1・3火曜日　9:30～10:30(定員12名)<br>
            ・コースＢ　第2・4火曜日　9:30～10:30(定員12名)　※新設コース<br>
            ・コースＣ　第1・3火曜日　10:40～11:40(定員12名)　※コース変更<br>
            【月2回コース】<br>
            ・コースＤ　第1・2・3水曜日　9:30～10:30(定員12名)</p>
          <p class="blog-single-content-paragraph">費用：<br>
            ①月間費(教材費込)<br>
            【2回コース】3,000円<br>
            【3回コース】4,500円<br>
            ②年間施設維持費・冷暖房費<br>
            【2回コース】2,000円<br>
            【3回コース】3,000円<br>
            ※②の費用は初回のみ徴収いたします。</p>
          <p class="blog-single-content-paragraph">申込方法：<br>
            当園の公式LINEをご登録後、応募フォームよりお申し込みください。<br>
            お電話でもお申し込みいただけます。(平日10:00～17:00)<br>
            みもみ幼稚園 TEL：047-473-4724</p>

          <h3 class="blog-single-content-heading-lv3">リトルぴよちゃん教室(1歳児)</h3>
          <p class="blog-single-content-paragraph">対象：1歳児(2023.4.2～2024.4.1生)と保護者の方</p>
          <p class="blog-single-content-paragraph">日時：第1・3水曜日 10:00〜11:00</p>
          <p class="blog-single-content-paragraph">入会金：3,300円(税別3,000円)<br>
            ※入園後、プレイルームにご入会の際、入会金は免除になります。<br>
            ※学研幼児教室会員の兄弟・姉妹の方(過去会員も含む)は、入会金が免除されます。</p>
          <p class="blog-single-content-paragraph">費用：3,300円(税別3,000円)</p>
          <p class="blog-single-content-paragraph">申込方法：<br>
            (株)学研エデュケーショナル学研教室 千葉オフィスまでお申し込みください。<br>
            学研 千葉オフィス TEL：043-256-8565(受付 9:00～17:00)</p>
          <p class="blog-single-content-paragraph">その他：絵本教材には、五感を刺激する楽しい仕掛けがいっぱいです！毎月お渡しします。</p>

          <h3 class="blog-single-content-heading-lv3">お子様と保護者の方にとって、安心して過ごせる時間を</h3>
          <p class="blog-single-content-paragraph">未就園児教室は、お子様が楽しく過ごしながら、少しずつ集団生活に慣れていける場所です。保護者の皆さまにとっても、子育ての悩みを共有したり、安心できるつながりを感じられる時間になりますよう、環境を整えております。<br>
            みもみ幼稚園には、習志野市を中心に、船橋市・八千代市・千葉市などからも、たくさんの親子さんが参加されています。<br>
            幼稚園見学も随時実施しておりますので、お気軽にお問い合わせください。</p>
        </div><!-- /.blog-single-content -->
      </article>
      <div class="blog-single-button">
        <ButtonLink
          buttonText="お知らせ一覧を見る"
          ButtonHref="/blog/blog-list/"
        />
      </div><!-- /.blog-single-button -->
    </div><!-- /.l-container-s -->
  </main>

  <div class="blog-single-cta">
    <Cta />
  </div><!-- /.blog-single-cta -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .blog-single-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .blog-single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 10px;
    background-size: 12px 1px;
    background-image: linear-gradient(to right, var(--color-baby-pink) 6px, transparent 6px);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 1.5;
  }

  .blog-single-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
  }

  .blog-single-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-single-category {
    padding: 3px 25px;
    border-radius: 3px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
  }

  .blog-single-date {
    font-size: 10px;
    font-weight: 700;
  }

  .blog-single-thumbnail {
    margin: 32px 0;
  }

  .blog-single-content {
    padding-bottom: 8px;
    text-align: justify;
  }

  .blog-single-content-heading-lv2 {
    padding: 5px 20px;
    margin: 40px 0 32px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;
  }

  .blog-single-content-paragraph {
    margin: 24px 0;
  }

  .blog-single-content-heading-lv3 {
    display: grid;
    gap: 10px;
    margin: 32px 0 24px;
    color: var(--color-baby-pink);
    font-weight: 700;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: currentColor;
    }
  }

  .blog-single-button {
    text-align: right;
  }

  @include mq() {
    .blog-single-kv {
      margin-top: 100px;
    }

    .blog-single-head {
      padding-bottom: 20px;
    }

    .blog-single-title {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 1.8;
    }

    .blog-single-category {
      padding: 3px 30px;
    }

    .blog-single-date {
      font-size: 14px;
    }

    .blog-single-thumbnail {
      margin: 40px 0;
    }

    .blog-single-content {
      padding-bottom: 28px;
    }

    .blog-single-content-heading-lv2 {
      padding: 5px 20px;
      margin: 48px 0 40px;
      font-size: 20px;
    }

    .blog-single-content-paragraph {
      margin: 32px 0;
    }

    .blog-single-content-heading-lv3 {
      margin: 40px 0 32px;
    }

    .blog-single-button {
      text-align: right;
    }
  }
</style>
