---
import Layout from "../../layouts/Layout.astro";
import PageKv from "../../components/PageKv.astro";
import ButtonLink from "../../components/button/ButtonLink.astro";
import Cta from "../../components/Cta.astro";
---

<Layout
  subTitle="お知らせ - 1年生・2年生の方へ 同窓会のご案内"
  pgType="article"
  description="みもみ幼稚園では、令和7年7月23日に1・2年生を対象とした同窓会を開催します。園庭や教室で楽しく遊びましょう！卒園アルバムの配布もあります。"
  noIndex="true"
>

  <!-- blog-single-kv -->
  <div class="blog-single-kv">
    <PageKv
      title="お知らせ"
      imageSrcSp="/assets/images/kv/page-kv/pic-kv-blog-sp@2x.webp"
      imageSrcPc="/assets/images/kv/page-kv/pic-kv-blog-pc@2x.webp"
    />
  </div><!-- /.blog-single-kv -->

  <main class="blog-single-main l-section-body">
    <div class="l-container-s">
      <article class="blog-single-article">
        <div class="blog-single-head">
          <h1 class="blog-single-title">1年生・2年生の方へ　同窓会のご案内</h1>
          <div class="blog-single-meta">
            <span class="blog-single-category">お知らせ</span>
            <time datetime="2025-05-08" class="blog-single-date">2025.05.08</time>
          </div><!-- /.blog-single-meta -->
        </div><!-- /.blog-single-head -->
        <div class="blog-single-thumbnail">
          <img src="/assets/images/blog/pic-blog-thumbnail-dosokai2025.webp" alt="" loading="eager" decoding="async" width="800" height="512">
        </div><!-- /.blog-single-thumbnail -->

        <!-- single-content (microCMSリッチエディタより) -->
        <div class="blog-single-content">
          <h2 class="blog-single-content-heading-lv2">1年生・2年生の方へ</h2>
          <p class="blog-single-content-paragraph">皆さんお元気ですか？<br>小学校でがんばっていることでしょう。</p>
          <p class="blog-single-content-paragraph">小学生になった皆さんと、久しぶりに楽しい時間を過ごせるように、同窓会を計画しました。<br>ご希望の方はご来園ください。</p>
          <p class="blog-single-content-paragraph">クラス内や園庭で遊んで過ごします。<br>小学生になった皆さんの元気な姿を見せに来てくださいね😊</p>
          <p class="blog-single-content-paragraph">皆さんにお会いできることを楽しみにしています！</p>

          <h3 class="blog-single-content-heading-lv3">同窓会について</h3>
          <p class="blog-single-content-paragraph">日時：令和7年7月23日(水)　9:30〜11:00 開門(9:20)<br>場所：みもみ幼稚園<br>持ち物：水筒、上靴、帽子(自由)</p>
          <p class="blog-single-content-paragraph">※1年生のお友達には卒園アルバムをお渡しします。袋をお持ちください。</p>
        </div><!-- /.blog-single-content -->
      </article>
      <div class="blog-single-button">
        <ButtonLink
          buttonText="お知らせ一覧を見る"
          ButtonHref="/blog/blog-list/"
        />
      </div><!-- /.blog-single-button -->
    </div><!-- /.l-container-s -->
  </main>

  <div class="blog-single-cta">
    <Cta />
  </div><!-- /.blog-single-cta -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .blog-single-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .blog-single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 10px;
    background-size: 12px 1px;
    background-image: linear-gradient(to right, var(--color-baby-pink) 6px, transparent 6px);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 1.5;
  }

  .blog-single-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
  }

  .blog-single-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-single-category {
    padding: 3px 25px;
    border-radius: 3px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
  }

  .blog-single-date {
    font-size: 10px;
    font-weight: 700;
  }

  .blog-single-thumbnail {
    margin: 32px 0;
  }

  .blog-single-content {
    padding-bottom: 8px;
    text-align: justify;
  }

  .blog-single-content-heading-lv2 {
    padding: 5px 20px;
    margin: 40px 0 32px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;
  }

  .blog-single-content-paragraph {
    margin: 24px 0;
  }

  .blog-single-content-heading-lv3 {
    display: grid;
    gap: 10px;
    margin: 32px 0 24px;
    color: var(--color-baby-pink);
    font-weight: 700;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: currentColor;
    }
  }

  .blog-single-button {
    text-align: right;
  }

  .blog-single-cta {
    margin-top: 60px;
  }

  @include mq() {
    .blog-single-kv {
      margin-top: 100px;
    }

    .blog-single-head {
      padding-bottom: 20px;
    }

    .blog-single-title {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 1.8;
    }

    .blog-single-category {
      padding: 3px 30px;
    }

    .blog-single-date {
      font-size: 14px;
    }

    .blog-single-thumbnail {
      margin: 40px 0;
    }

    .blog-single-content {
      padding-bottom: 28px;
    }

    .blog-single-content-heading-lv2 {
      padding: 5px 20px;
      margin: 48px 0 40px;
      font-size: 20px;
    }

    .blog-single-content-paragraph {
      margin: 32px 0;
    }

    .blog-single-content-heading-lv3 {
      margin: 40px 0 32px;
    }

    .blog-single-button {
      text-align: right;
    }
  }

  .blog-single-cta {
    margin-top: 120px;
  }
</style>
