@use 'breakpoints' as *;

// news（お知らせ・一般）
.news-single-content {
  padding-bottom: 8px;
  text-align: justify;

  @include mq() {
    padding-bottom: 28px;
  }

  h2 {
    padding: 5px 20px;
    margin: 32px 0 24px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;

    &:not(:first-of-type) {
      margin-top: 40px;
    }

    @include mq() {
      padding: 5px 20px;
      margin: 40px 0 32px;
      font-size: 20px;

      &:not(:first-of-type) {
        margin-top: 48px;
      }
    }
  }

  h3 {
    display: grid;
    gap: 10px;
    margin-top: 24px;
    color: var(--color-baby-pink);
    font-weight: 700;

    @include mq() {
      margin-top: 32px;
    }

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: currentColor;
    }
  }

  p {
    margin: 10px 0 24px;

    @include mq() {
      margin: 24px 0 32px;
    }
  }

  img + p {
    margin-top: 24px;

    @include mq() {
      margin-top: 32px;
    }
  }

  img {
    &:last-of-type {
      margin-bottom: 24px;

      @include mq() {
        margin-bottom: 32px;
      }
    }
  }
}


