---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/PageKv.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Cta from "../components/Cta.astro";
---

<Layout
  title="入園案内 - 手続き費・保育料のご案内｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園の入園手続き費や毎月の保育料などをわかりやすく紹介しています。見学は随時受付中、公式LINEからのお問い合わせも可能です。お気軽にご相談ください。"
>
  <div class="admission-info">
    <!-- admission-info-kv -->
    <div class="admission-info-kv">
      <PageKv
        title="入園案内"
        imageSrcSp="/assets/images/kv/page-kv/pic-kv-admission-info-sp@2x.webp"
        imageSrcPc="/assets/images/kv/page-kv/pic-kv-admission-info-pc@2x.webp"
        imageAlt="年長の男の子2人とボールを持った女の子1人が肩を組み、笑顔でカメラを見ている様子"
      />
    </div><!-- /.admission-info-kv -->

    <main class="admission-info-main l-section-body js-load-fade-in">
      <div class="l-container-s">
        <div class="admission-info-title">
          <SectionTitle
            title1="令和7年度 入園手続き費"
          />
        </div><!-- /.admission-info-title -->
        <div class="admission-info-content">
          <section class="admission-info-section">
            <h3 class="admission-info-title-lv3">入園手続き費</h3>
            <div class="admission-info-wrapper">
              <dl class="admission-info-list">
                <dt class="admission-info-term">1年保育：</dt>
                <dd class="admission-info-definition">60,000円</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">2年保育：</dt>
                <dd class="admission-info-definition">80,000円</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">3年保育：</dt>
                <dd class="admission-info-definition">100,000円</dd>
              </dl>
            </div><!-- /.admission-info-wrapper -->
          </section>
          <section class="admission-info-section">
            <h3 class="admission-info-title-lv3">毎月の保育料</h3>
            <div class="admission-info-wrapper">
              <dl class="admission-info-list">
                <dt class="admission-info-term">1年保育：</dt>
                <dd class="admission-info-definition">300円</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">2年保育：</dt>
                <dd class="admission-info-definition">300円</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">3年保育：</dt>
                <dd class="admission-info-definition">1,800円</dd>
              </dl>
              <small class="admission-info-note admission-info-note--mt">※保育料は、無償化により上限25,700円まで減免されます。</small>
            </div><!-- /.admission-info-wrapper -->
          </section>
          <section class="admission-info-section">
            <h3 class="admission-info-title-lv3">毎月の費用</h3>
            <div class="admission-info-wrapper">
              <dl class="admission-info-list">
                <dt class="admission-info-term">施設維持費：</dt>
                <dd class="admission-info-definition">2,000円</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">絵本代：</dt>
                <dd class="admission-info-definition">400円前後</dd>
              </dl>
              <dl class="admission-info-list">
                <dt class="admission-info-term">バス維持費：</dt>
                <dd class="admission-info-definition">3,500円</dd>
              </dl>
              <small class="admission-info-note">※利用者のみ</small>
              <dl class="admission-info-list">
                <dt class="admission-info-term">給食費：</dt>
                <dd class="admission-info-definition">8,000円</dd>
              </dl>
              <small class="admission-info-note">※おやつ代、牛乳代含む</small>
              <small class="admission-info-note">※卵・甲殻類アレルギー対応あり</small>
            </div><!-- /.admission-info-wrapper -->
          </section>
          <section class="admission-info-section">
            <h3 class="admission-info-title-lv3">その他費用</h3>
            <div class="admission-info-wrapper">
              <dl class="admission-info-list">
                <dt class="admission-info-term">行事費：</dt>
                <dd class="admission-info-definition">3,600円</dd>
              </dl>
              <small class="admission-info-note">※4月に一括徴収</small>
              <dl class="admission-info-list">
                <dt class="admission-info-term">冷暖房費：</dt>
                <dd class="admission-info-definition">10,000円</dd>
              </dl>
              <small class="admission-info-note">※6月と12月に5,000円ずつ徴収</small>
              <dl class="admission-info-list">
                <dt class="admission-info-term">年間特別教育活動費：</dt>
                <dd class="admission-info-definition">10,000円(年中・少)・11,000円(年長)</dd>
              </dl>
              <small class="admission-info-note">※全学年2月に一括徴収</small>
              <dl class="admission-info-list">
                <dt class="admission-info-term">制服等一式：</dt>
                <dd class="admission-info-definition">50,000円前後</dd>
              </dl>
              <small class="admission-info-note">※体操服・カバン・スモック・帽子・靴下・防災頭巾等を含む</small>
              <small class="admission-info-note">※令和4年4月より制服、カバン、帽子、靴下が変わりました。</small>
              <dl class="admission-info-list">
                <dt class="admission-info-term">保育用品等一式：</dt>
                <dd class="admission-info-definition">20,000円前後</dd>
              </dl>
            </div><!-- /.admission-info-wrapper -->
          </section>
          <section class="admission-info-section">
            <h3 class="admission-info-title-lv3">必要に応じて<br class="u-no-sp">発生する費用</h3>
            <p class="admission-info-text">年長お別れ遠足費 等</p>
        </div><!-- /.admission-info-content -->
      </div><!-- /.l-container-s -->
    </main>

    <div class="admission-info-cta">
      <Cta />
    </div><!-- /.admission-info-cta -->
  </div><!-- /.admission-info -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .admission-info-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .admission-info-main {
    padding-bottom: 60px;
    background-image: url(/assets/images/admission-info/bg-admission-info-sp@2x.webp);
    background-repeat: no-repeat;
    background-size: 800px 1326px;
    background-position: left 50.6% top -84px;
  }

  .admission-info-content {
    display: grid;
    gap: 20px;
    padding: 40px calc(20 var(--vw-sp));
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid var(--color-green);
    background-color: #fff;
    line-height: 1.5;
  }

  .admission-info-section {
    &:not(:last-child) {
      padding-bottom: 20px;
      background-size: 12px 1px;
      background-image: linear-gradient(to right,  var(--color-green) 6px, transparent 6px);
      background-repeat: repeat-x;
      background-position: left bottom;
    }
  }

  .admission-info-title-lv3 {
    color: var(--color-green);
    font-weight: 700;
  }

  .admission-info-list {
    margin-top: 10px;
  }

  .admission-info-term {
    display: inline-block;
    font-weight: 400;
  }

  .admission-info-definition {
    display: inline-block;
  }

  .admission-info-note {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: -0.01em;
    text-align: justify;

    & + & {
      margin-top: 0;
    }
  }

  @include mq() {
    .admission-info-kv {
      margin-top: 100px;
    }

    .admission-info-main {
    padding-bottom: 120px;
    background-image: url(/assets/images/admission-info/bg-admission-info-pc@2x.webp);
    background-repeat: no-repeat;
    background-size: 2000px 1468px;
    background-position: left 50% top 13px;
  }

    .admission-info-content {
      display: grid;
      gap: 40px;
      padding: 60px 50px;
      margin-top: 60px;
    }

    .admission-info-section {
      display: flex;

      &:not(:last-child) {
        padding-bottom: 40px;
      }
    }

    .admission-info-title-lv3 {
      flex: 0 0 176px;
    }

    .admission-info-list {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }

    .admission-info-term {
      display: inline-block;
      font-weight: 400;
    }

    .admission-info-definition {
      display: inline-block;
    }

    .admission-info-note {
      margin-top: 0;

      &--mt {
        margin-top: 20px;
      }
    }
  }
</style>
