---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/PageKv.astro";
import Cta from "../components/Cta.astro";
---

<Layout
  title="よくある質問 FAQ｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園に関する、よくある質問をカテゴリー別にご紹介しています。預かり保育や給食から、子どもの成長に関することまで、安心してご利用いただけるよう丁寧にお答えしています。"
>
  <div class="faq">
    <!-- faq-kv -->
    <div class="faq-kv">
      <PageKv
        title="よくある質問"
        imageSrcSp="/assets/images/kv/page-kv/pic-kv-faq-sp@2x.webp"
        imageSrcPc="/assets/images/kv/page-kv/pic-kv-faq-pc@2x.webp"
        imageAlt="大型の汽車型遊具から顔を出して笑顔を見せる3人の3歳児（アスレチック広場）"
      />
    </div><!-- /.faq-kv -->

    <main class="faq-main l-section-body js-load-fade-in">
      <div class="l-container-s">
        <!-- faq-head -->
        <div class="faq-head">
          <p class="faq-head-text">
            <span>みもみ幼稚園に寄せられる、<br class="u-no-pc">よくある質問をまとめました。</span>
            <span>気になるカテゴリーを選んでご覧ください。</span>
          </p>
          <ul class="faq-head-list" id="top">
            <li class="faq-head-item">
              <a href="#section-01" class="faq-head-link faq-head-link--01">園の利用・手続きについて</a>
            </li>
            <li class="faq-head-item">
              <a href="#section-02" class="faq-head-link faq-head-link--02">園での生活・教育について</a>
            </li>
            <li class="faq-head-item">
              <a href="#section-03" class="faq-head-link faq-head-link--03">子どもの成長に関すること</a>
            </li>
          </ul>
        </div><!-- /.faq-head -->
        <div class="faq-content">
          <section class="faq-section" id="section-01">
            <h2 class="faq-section-title faq-section-title--01">園の利用・手続きについて</h2>
            <ul class="faq-content-list">
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon" aria-label="質問">q</span>
                    <span class="faq-question">未就園児教室はありますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">1歳児教室(リトルぴよちゃん教室)、2歳児教室(ぴよちゃん教室)を5月から翌年3月まで開講しています。</p>
                        <p class="faq-paragraph">詳細は「未就園児親子教室について」のページをご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/mi-shuen-ji" class="faq-link">未就園児親子教室についてを見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">見学はできますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">幼稚園、未就園児教室はいつでもご見学が可能です。詳しい日程のご確認やお申し込みについては、みもみ幼稚園の公式LINEより承っております。園庭、アスレチック広場(どんぐり広場)でも是非遊んでくださいね。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">預かり保育はありますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">早朝保育(8:00〜9:00)、延長保育(保育後〜18:00)があり、全園児ご利用いただけます。早朝保育は一律200円、延長保育は1時間200円となります。また、春休み、夏休み、冬休みには長期休暇保育(8:00〜18:00)をご利用いただけます。詳細は「預かり保育」をご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/life#azukari-hoiku" class="faq-link">預かり保育を見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">車で送迎はできますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">可能です。幼稚園には約30台駐車できる駐車場があります。送迎時にご利用ください。公共交通機関の場合、京成実籾駅から徒歩3分となります。詳細は「アクセス」をご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/#access" class="faq-link">アクセスを見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">バスの巡回コースを教えてください。</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">3台のバスで8コース運行中です。（習志野市、船橋市、八千代市、千葉市等）詳しい運行区域は、「送迎バス」をご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/about#bus" class="faq-link">送迎バスを見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">主な進学先を教えてください。</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">屋敷小学校、東習志野小学校、実花小学校、大久保小学校、大久保東小学校、実籾小学校、鷺沼小学校、藤崎小学校、峰台小学校、上の台小学校、西の谷小学校、三山小学校、三山東小学校、長作小学校、津田沼小学校、袖ヶ浦東小学校、八千代台西小学校、谷津小学校、向山小学校、幕張西小学校、千葉日本大学第一小学校、日出学園小学校、昭和学院小学校等。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--green" aria-label="質問">q</span>
                    <span class="faq-question">保護者負担軽減補助金制度はありますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">幼児教育無償化の為、全園児月額25,700円を上限に給付されます。よって、毎月の保育料は、1年保育：300円、2年保育：300円、3年保育：1,800円となります。又、預かり保育については、規定の時間の就労をされている方は利用日数×450円を限度に、月額最大11,300円まで給付されます。詳しくは、園又はお住まいの自治体の窓口等へお尋ねください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                  </dd>
                </dl>
              </li>
            </ul>
            <a href="#top" class="faq-back-to-top">カテゴリー選択に戻る</a>
          </section>
          <section class="faq-section js-fade-in" id="section-02">
            <h2 class="faq-section-title faq-section-title--02">園での生活・教育について</h2>
            <ul class="faq-content-list">
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--pink" aria-label="質問">q</span>
                    <span class="faq-question">昼食は給食ですか？アレルギー食に対応していますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">みもみ幼稚園の給食室(みもみキッチン)で、毎日温かい手作りの給食を提供しています。また、食物アレルギー除去・代替食への変更も可能です。アレルギー等で配慮が必要と診断されている場合は、幼稚園へご相談ください。医師の指示に従い、調理担当者とともに配慮していきます 。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/about#kyushoku" class="faq-link">自園給食のこだわりを見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--pink" aria-label="質問">q</span>
                    <span class="faq-question">課外教室はありますか？</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">体操、サッカー、学研などがあります。詳細は「園の生活」の“みもみ保育”よりご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/life#mimomi-hoiku" class="faq-link">みもみ保育を見る</a>
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--pink" aria-label="質問">q</span>
                    <span class="faq-question">家で幼稚園のことをなかなか話してくれません。園での子どもの様子が気になります。</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">「今日何したの？」という問いかけは実は子どもにとっては難しい質問です。「今日の給食の◯◯食べた？」、「今日、◯◯ちゃん幼稚園に来てた？」など、具体的で子どもがイメージしやすいような問いかけを意識してみて下さい。お子様との会話のきっかけになります。また、日々の保育の様子などは、「保護者さま限定ページ」(パスワードが必要となります。)にてお伝えします。どなたでもご覧いただける「お知らせ」にても“みもみ日記”として日常をお送りしています。是非ご覧ください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                    <a href="/news/category/mimomi-nikki/1" class="faq-link">みもみ日記を見る</a>
                  </dd>
                </dl>
              </li>
            </ul>
            <a href="#top" class="faq-back-to-top">カテゴリー選択に戻る</a>
          </section>
          <section class="faq-section js-fade-in" id="section-03">
            <h2 class="faq-section-title faq-section-title--03">子どもの成長に関すること</h2>
            <ul class="faq-content-list">
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--blue" aria-label="質問">q</span>
                    <span class="faq-question">着替えが一人でできません。</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">入園当初はボタンの掛け外しが上手くできなかったり、洋服が裏返しになってしまったり…なかなか思うように着替えができないと思います。お子様がボタン一つでも“できた！”と嬉しく思い、次へのやる気につながるように、初めは沢山手伝ってあげてください。自分でやろうという気持ちを育めるよう、一つひとつ、くり返し丁寧に教えていきます。ご家庭でも、焦らずじっくり取り組んでみてください。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                  </dd>
                </dl>
              </li>
              <li class="faq-item">
                <dl class="faq-dl">
                  <dt class="faq-dt">
                    <span class="faq-icon faq-icon--blue" aria-label="質問">q</span>
                    <span class="faq-question">まだトイレの自立ができていません。</span>
                  </dt>
                  <dd class="faq-dd">
                    <div class="faq-wrapper">
                      <span class="faq-icon faq-icon--a" aria-label="回答">a</span>
                      <div class="faq-answer">
                        <p class="faq-paragraph">トイレの自立は個人差がとても大きいです。幼稚園では、お友達と一緒にトイレに行ってみたり、真似してみたりする中で、トイレへ興味を持ち、安心できる場であると分かります。できるようになった！と思っても、遊びに夢中でついうっかり…なんて事も。でも大丈夫です。落ち込む姿も見られるかもしれませんが、そんな子どもの気持ちを受け止め、大切にしてあげてください。ご家庭と連携しながら、無理のないよう援助させていただきます。</p>
                      </div><!-- /.faq-answer -->
                    </div><!-- /.faq-wrapper -->
                  </dd>
                </dl>
              </li>
            </ul>
            <a href="#top" class="faq-back-to-top">カテゴリー選択に戻る</a>
          </section>
        </div><!-- /.faq-content -->
      </div><!-- /.l-container-s -->
    </main>

    <div class="faq-cta">
      <Cta />
    </div><!-- /.faq-cta -->
  </div><!-- /.faq -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .faq-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .faq-head {
    line-height: 1.5;
    text-align: center;
  }

  .faq-head-text {
    span {
      display: block;
    }
  }

  .faq-head-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 12px;
  }

  .faq-head-link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 8px 0;
    margin: auto;
    font-weight: 700;

    &::after {
      content: "";
      width: 9px;
      height: 7px;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
    }

    &--01 {
      &::after {
        background-color: var(--color-green);
      }
    }

    &--02 {
      &::after {
        background-color: var(--color-baby-pink);
      }
    }

    &--03 {
      &::after {
        background-color: var(--color-blue);
      }
    }
  }

  .faq-content {
    display: grid;
  }

  .faq-section {
    padding-top: 32px;
  }

  .faq-section-title {
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    border-bottom: 1px solid;

    &--01 {
      border-color: var(--color-green);
    }

    &--02 {
      border-color: var(--color-pink);
    }

    &--03 {
      border-color: var(--color-blue);
    }
  }

  .faq-content-list {
    display: grid;
    gap: 30px;
    margin-top: 30px;
  }

  // .faq-item以下は_faq-item.scssで設定

  .faq-back-to-top {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    padding: 8px 0;
    padding-left: 21px;
    margin: 22px 0 0 auto;
    background-image: url(/assets/images/global/icon-arrow-up.svg);
    background-repeat: no-repeat;
    background-size: 15px 13px;
    background-position: left top 12px;
    font-weight: 700;
    line-height: 1.5;
    text-align: right;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 22px;
      width: 138px;
      height: 1px;
      background-color: currentColor;
    }
  }

  .faq-cta {
    margin-top: 52px;
  }

  @include mq() {
    .faq-kv {
      margin-top: 100px;
    }

    .faq-head-list {
      flex-direction: row;
      justify-content: space-between;
      padding-top: 52px;
    }

    .faq-head-link {
      font-size: 15px;

      &::after {
        width: 10px;
        height: 8px;
      }

      @media screen and (min-width: 880px) {
        font-size: 16px;
        position: relative;

        &--02::before,
        &--03::before {
          content: "";
          width: 2px;
          height: 20px;
          margin: auto;
          background-color: #d9d9d9;
          position: absolute;
          top: 0;
          bottom: 0;
          left: -42px;
        }
      }
    }

    .faq-content {
      gap: 0;
    }

    .faq-section {
      padding-top: 52px;
    }

    .faq-section-title {
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 1.8;
    }

    .faq-content-list {
      gap: 40px;
      margin-top: 40px;
    }

    // .faq-item以下は_faq-item.scssで設定

    .faq-back-to-top {
      margin: 32px 0 0 auto;
      font-size: 14px;

      @media screen and (min-width: 1025px) {
        &::after {
          display: none;
        }
      }
    }

    .faq-cta {
      margin-top: 112px;
    }
  }

  @media (any-hover: hover) {
    .faq-back-to-top {
      &:hover {
        animation: back-to-top-button .4s ease-in-out;
      }
    }
  }

  @keyframes back-to-top-button {
    0% {
      background-position: left top 12px;
    }
    60% {
      background-position: left top 7px;
    }
    100% {
      background-position: left top 12px;
    }
  }
</style>
