---
// import "../styles/splide.css";
import Layout from "../layouts/Layout.astro";

import TopKv from "../components/topPage/TopKv.astro";
import TopLead from "../components/topPage/TopLead.astro";
import TopIntroduction from "../components/topPage/TopIntroduction.astro";
import TopLife from "../components/topPage/TopLife.astro";
import TopNews from "../components/topPage/TopNews.astro";
import TopLinks from "../components/topPage/TopLinks.astro";
import TopFaq from "../components/topPage/TopFaq.astro";
import TopDownload from "../components/topPage/TopDownload.astro";
import Cta from "../components/Cta.astro";
---

<Layout
  subTitle="トップページ"
  ogType="website"
  description="京成実籾駅徒歩3分。自然いっぱいの広い敷地でのびのび遊び、学ぶ「みもみ幼稚園」。習志野市・船橋市・八千代市・千葉市から通いやすく、自由と自立を育む教育を行っています。"
>
  <!-- top-kv -->
  <div id="kv">
    <TopKv />
  </div>

  <!-- top-main -->
  <main class="top-main">

    <!-- top-lead -->
    <div id="lead">
      <TopLead />
    </div>

    <!-- top-introduction -->
    <div id="introduction">
      <TopIntroduction />
    </div>

    <!-- top-life -->
    <div id="life">
      <TopLife />
    </div>

    <!-- top-news -->
    <div id="news">
      <TopNews />
    </div>

    <!-- top-links -->
    <div id="links">
      <TopLinks />
    </div>

    <!-- top-faq -->
    <div id="faq">
      <TopFaq />
    </div>

    <!-- top-download -->
    <div id="download">
      <TopDownload />
    </div>

    <!-- top-cta -->
    <div class="top-cta l-section">
      <Cta />
    </div><!-- /.top-cta.l-section -->
  </main>
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

</style>
