---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/PageKv.astro";
import LifeTimetable from "../components/page-life/LifeTimetable.astro";
import LifeMimomiHoiku from "../components/page-life/LifeMimomiHoiku.astro";
import LifeAnnualEvent from "../components/page-life/LifeAnnualEvent.astro";
import Cta from "../components/Cta.astro";
---

<Layout
  subTitle="園の生活"
  ogType="website"
  description="⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫︎⚫"
  noIndex="true"
>

  <div class="life">
    <!-- life-kv -->
    <div class="life-kv">
      <PageKv
        title="園の生活"
        imageSrcSp="/assets/images/kv/page-kv/pic-kv-life-sp@2x.png"
        imageSrcPc="/assets/images/kv/page-kv/pic-kv-life-pc@2x.png"
      />
    </div><!-- /.life-kv -->

    <main class="life-main l-section-body">
      <div class="l-container-s">

        <!-- life-timetable -->
        <div class="life-timetable js-load-fade-in" id="timetable">
          <LifeTimetable />
        </div><!-- /.life-timetable -->

        <!-- life-mimomi-hoiku -->
        <div class="life-mimomi-hoiku js-fade-in" id="mimomi-hoiku">
          <LifeMimomiHoiku />
        </div><!-- /.life-mimomi-hoiku -->

        <!-- life-annual-event -->
        <div class="life-annual-event js-fade-in" id="annual-event">
          <LifeAnnualEvent />
        </div><!-- /.life-annual-event -->

        <!-- life-azukari-hoiku -->
        <div class="life-azukari-hoiku js-fade-in" id="azukari-hoiku">
          預かり保育預かり保育預かり保育
        </div><!-- /.life-azukari-hoiku -->
      </div><!-- /.l-container-s -->
    </main>

    <div class="life-cta">
      <Cta />
    </div><!-- /.life-cta -->
  </div><!-- /.life -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .life {
    overflow: hidden;
  }

  .life-cta {
    margin-top: 60px;
  }

  @include mq() {
    .life-cta {
      margin-top: 120px;
    }
  }

  // life-kv
  .life-kv {
    padding-top: 20px;
    margin-top: 48px;

    @include mq() {
      margin-top: 100px;
    }
  }

</style>
