---
import "../styles/style.scss";

const url = new URL(Astro.url);
const error = url.searchParams.get("error");
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログインページ</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, nofollow" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css"> -->
  </head>

  <body>
    <h1>ログインページ</h1>
    <form method="POST" action="/api/login">
      <input type="text" name="id" placeholder="ID" required />
      <input type="password" name="password" placeholder="パスワード" required />
      <button type="submit">ログイン</button>
    </form>
    {error && <p style="color:red;">IDまたはパスワードが違います</p>}
  </body>
</html>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  h1 {
    font-size: 30px;
  }
</style>
