---
import Layout from "../layouts/Layout.astro";
import PageKv from "../components/PageKv.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ButtonCta from "../components/button/ButtonCta.astro";
import Cta from "../components/Cta.astro";
---

<Layout
  title="未就園児教室について｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園の未就園児教室「リトルぴよちゃん教室」「ぴよちゃん教室」。初めての集団生活を通し、子どもたちが心から安心し楽しんで過ごせるようサポートします。子育て相談も受付中です。"
>
  <div class="mi-shuen-ji">
    <!-- mi-shuen-ji-kv -->
    <div class="mi-shuen-ji-kv">
      <PageKv
        title="未就園児親子教室について"
        imageSrcSp="/assets/images/kv/page-kv/pic-kv-mi-shuen-ji-sp@2x.webp"
        imageSrcPc="/assets/images/kv/page-kv/pic-kv-mi-shuen-ji-pc@2x.webp"
        imageAlt="2歳の子どもが母親とシール遊びや製作に取り組み、先生が笑いかけている様子"
      />
    </div><!-- /.mi-shuen-ji-kv -->

    <main class="mi-shuen-ji-main l-section-body js-load-fade-in">
      <div class="l-container-s">
        <!-- msj-about -->
        <section class="msj-about">
          <div class="msj-about-title">
            <span class="msj-about-title-lead">幼稚園入園前のお子様の為の</span>
            <div class="msj-about-title-sp">
              <SectionTitle
                title1="「リトルぴよちゃん教室」と"
                title2="「ぴよちゃん教室」"
                titleClass="c-section-title c-section-title--ls-narrow"
              />
            </div><!-- /.msj-about-title-sp -->
            <h2 class="msj-about-title-pc">「リトルぴよちゃん教室」と「ぴよちゃん教室」</h2>
          </div><!-- /.msj-about-title -->
          <div class="msj-about-list">
            <div class="msj-about-item">
              <div class="msj-about-content">
                <h3 class="msj-about-title-lv3">初めての幼稚園、先生、同じ歳のお友達…。</h3>
                <p class="msj-about-text">お子様にとって沢山の出会いと刺激があると思います。<br>まずは朝のご挨拶“おはようございます”、帰りのご挨拶“さようなら”から、言葉のやりとりの中で自然とコミュニケーションが取れるように。先生やお友達と遊んだ後はみんなでお片付け。「使ったものを片付ける」習慣も自然と身に付きます。</p>
              </div><!-- /.msj-about-content -->
              <div class="msj-about-image">
                <picture>
                  <source media="(max-width: 767px)" srcset="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-01-sp@2x.webp">
                  <source media="(min-width: 768px)" srcset="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-01-pc@2x.webp">
                  <img src="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-01-sp@2x.webp" alt="2歳の子どもたちが床に座り、先生の絵本の読み聞かせを見ている様子" loading="eager" decoding="async" width="240" height="180">
                </picture>
              </div><!-- /.msj-about-image -->
            </div><!-- /.msj-about-item -->
            <div class="msj-about-item msj-about-item--02">
              <div class="msj-about-content msj-about-content--02">
                <h3 class="msj-about-title-lv3">“幼稚園って楽しい！”</h3>
                <p class="msj-about-text">と心から安心し、少しでも集団生活の場に慣れるよう、お子様の成長をサポートさせていただきます。また、子育て相談も承っています。子育てをされる方の情報共有の場でもありたいと考えています。教室の後は、園庭やどんぐり広場で思いきり遊んでくださいね。</p>
              </div><!-- /.msj-about-content -->
              <div class="msj-about-image msj-about-image--02">
                <picture>
                  <source media="(max-width: 767px)" srcset="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-02-sp@2x.webp">
                  <source media="(min-width: 768px)" srcset="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-02-pc@2x.webp">
                  <img src="/assets/images/mi-shuen-ji/pic-mi-shuen-ji-02-sp@2x.webp" alt="2歳の子どもが母親と一緒にクリスマス製作に取り組んでいる様子（折り紙やのり貼り）" loading="eager" decoding="async" width="240" height="180">
                </picture>
              </div><!-- /.msj-about-image -->
            </div><!-- /.msj-about-item -->
          </div><!-- /.msj-about-list -->
          <div class="msj-about-note">
            <small>※こちらは学研教室の講師の方に来ていただき、開講しています。</small>
            <small>※現在、幼稚園主催の満3歳児教室も検討中です。</small>
          </div><!-- /.msj-about-note -->
        </section>

        <!-- msj-overview -->
        <section class="msj-overview js-fade-in">
          <div class="msj-overview-title">
            <SectionTitle
              title1="リトルぴよちゃん教室と"
              title2="ぴよちゃん教室の概要"
              titleClass="c-section-title c-section-title--ls-0"
            />
          </div><!-- /.msj-overview-title -->
          <div class="msj-overview-list">
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt">対象</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)</span>
                  <span class="msj-overview-description msj-overview-description--target">
                    1歳児のお子様と保護者の方
                    <small class="msj-overview-note msj-overview-note--target">※2023.4.2～2024.4.1生まれ</small>
                  </span>
                </p>
                <p class="msj-overview-text">
                  <span class="msj-overview-head">ぴよちゃん教室(2歳児)</span>
                  <span class="msj-overview-description msj-overview-description--target">
                    2歳児のお子様と保護者の方
                    <small class="msj-overview-note msj-overview-note--target">※2022.4.2～2023.4.1生まれ</small>
                  </span>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt">指導日</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)</span>
                  <span class="msj-overview-description">水曜日(月2回・1回60分) 11:00~12:00</span>
                </p>
                <p class="msj-overview-text">
                  <span class="msj-overview-head">ぴよちゃん教室(2歳児)</span>
                  <span class="msj-overview-wrapper">
                    <span class="msj-overview-description">
                      <span class="msj-overview-deco">月2回コース(各コース定員12名)</span>
                      <span>コースA：第1•3火曜日 9:30~10:30</span>
                      <span>コースB：第2•4火曜日 9:30~10:30</span>
                      <span>コースC：第1•3火曜日 10:40~11:40</span>
                    </span>
                    <span class="msj-overview-description">
                      <span class="msj-overview-deco">月3回コース(定員12名)</span>
                      <span>コースD：第1•2•3水曜日 9:30~10:30</span>
                    </span>
                  </span>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt">入会費</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)のみ</span>
                  <span class="msj-overview-description">
                    税込3,300円
                    <small class="msj-overview-note">※入園後、プレイルームにご入会の際、入会金は免除になります。</small>
                    <small class="msj-overview-note">※学研幼児教室会員の兄弟・姉妹の方(過去会員も含む)は、入会金が免除されます。</small>
                  </span>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt">月間費</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)</span>
                  <span class="msj-overview-description">税込3,300円</span>
                </p>
                <p class="msj-overview-text">
                  <span class="msj-overview-head">ぴよちゃん教室(2歳児)</span>
                  <span class="msj-overview-description">
                    <span>月2回コース：税込3,000円</span>
                    <span>月3回コース：税込4,500円</span>
                  </span>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt msj-overview-dt--maintenance-cost">施設維持費</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)</span>
                  <span class="msj-overview-description">税込1,500円</span>
                  <small class="msj-overview-note">※初回のみ徴収させていただきます。</small>
                </p>
                <p class="msj-overview-text">
                  <span class="msj-overview-head">ぴよちゃん教室(2歳児)</span>
                  <span class="msj-overview-description">
                    <span>月2回コース：税込2,000円</span>
                    <span>月3回コース：税込3,000円</span>
                  </span>
                  <small class="msj-overview-note">※初回のみ徴収させていただきます。</small>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt">場所</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head"><span>リトルぴよちゃん教室(1歳児)/</span><span>ぴよちゃん教室(2歳児)</span></span>
                  <span class="msj-overview-description">みもみ幼稚園 特別教室</span>
                  <small class="msj-overview-note">※園の駐車場・駐輪場をご利用いただけます。</small>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt msj-overview-dt--belongings">持ち物</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head"><span>リトルぴよちゃん教室(1歳児)/</span><span>ぴよちゃん教室(2歳児)</span></span>
                  <span class="msj-overview-description">上履き、レッスンバッグ</span>
                </p>
              </dd>
            </dl>
            <dl class="msj-overview-dl">
              <dt class="msj-overview-dt msj-overview-dt--last">お申し込み方法</dt>
              <dd class="msj-overview-dd">
                <p class="msj-overview-text">
                  <span class="msj-overview-head">リトルぴよちゃん教室(1歳児)</span>
                  <span class="msj-overview-description">(株)学研エデュケーショナル学研教室 <br class="u-no-pc">千葉オフィス<br>TEL：<a href="tel:043-256-8565" class="msj-overview-tel">043-256-8565</a> <br class="u-no-pc">(受付 9:00~17:00)</span>
                </p>
                <p class="msj-overview-text">
                  <span class="msj-overview-head">ぴよちゃん教室(2歳児)</span>
                  <span class="msj-overview-description">みもみ幼稚園の公式LINEの応募フォームよりお申し込みください。</span>
                  <small class="msj-overview-note">※公式LINEでのお申し込みが難しい場合は、平日10:00~17:00までの間にお電話にて対応しております。</small>
                </p>
                <div class="msj-overview-button">
                  <ButtonCta />
                  <ButtonCta
                    ctaText="047-473-4724"
                    ctaClass="c-button-cta c-button-cta--tel"
                    ctaHref="tel:047-473-4724"
                    ctaTarget="_self"
                  />
                </div><!-- /.msj-overview-button -->
              </dd>
            </dl>
          </div><!-- /.msj-overview-list -->
        </section>

        <!-- msj--visit -->
        <section class="msj-visit js-fade-in">
          <div class="msj-visit-title">
            <SectionTitle
              title1="見学・無料体験について"
            />
          </div><!-- /.msj-visit-title -->
          <p class="msj-visit-lead">ご安心いただけるよう<br class="u-no-pc">見学や無料体験を行なっております。</p>
          <div class="msj-visit-content">
            <div class="msj-visit-wrapper">
              <h3 class="msj-visit-title-lv3">お気軽にご見学ください！</h3>
              <div class="msj-visit-description">
                <p class="msj-visit-paragraph">ぴよちゃん教室、リトルぴよちゃん教室の見学は随時実施しております。詳しい日程のご確認やお申し込みについては、みもみ幼稚園の公式LINEより承っております。ぜひ、ご気軽に遊びにいらしてください。</p>
                <small class="msj-visit-note">※公式LINEでのお申し込みが難しい場合は、平日10:00~17:00までの間にお電話より <a href="tel:047-473-4724" class="msj-visit-tel">047-473-4724</a> にご連絡ください。</small>
              </div><!-- /.msj-visit-description -->
            </div><!-- /.msj-visit-wrapper -->
            <div class="msj-visit-wrapper">
              <h3 class="msj-visit-title-lv3">全体説明会・無料体験教室</h3>
              <div class="msj-visit-description">
                <p class="msj-visit-paragraph">日程やお申し込みについては、みもみ幼稚園の公式LINEよりご確認いただけます。見学終了後は、幼稚園の園庭やアスレチック広場（どんぐり広場）を開放します。是非たくさん遊んでくださいね。</p>
                <small class="msj-visit-note">※公式LINEでのお申し込みが難しい場合は、平日10:00~17:00までの間にお電話より対応しております。リトルぴよちゃん教室とぴよちゃん教室ではお電話番号が異なりますので、ご注意ください。</small>
                <ul class="msj-visit-list">
                  <li class="msj-visit-item">リトルぴよちゃん教室：<a href="tel:043-256-8565" class="msj-visit-tel">043-256-8565</a> (株)学研エデュケーショナ ル学研教室 千葉オフィス</li>
                  <li class="msj-visit-item">ぴよちゃん教室：<a href="tel:047-473-4724" class="msj-visit-tel">047-473-4724</a> みもみ幼稚園</li>
                </ul>
              </div><!-- /.msj-visit-description -->
            </div><!-- /.msj-visit-wrapper -->
          </div><!-- /.msj-visit-content -->
          <div class="msj-visit-cta">
            <p class="msj-visit-cta-text">最新情報・お申し込みはこちら</p>
            <div class="msj-visit-cta-button">
              <ButtonCta
                ctaClass="c-button-cta c-button-cta--lg"
              />
            </div><!-- /.msj-visit-cta-button -->
          </div><!-- /.msj-visit-cta -->
        </section><!-- /.msj-visit -->
      </div><!-- /.l-container-s -->
    </main>
    <div class="mi-shuen-ji-cta">
      <Cta />
    </div><!-- /.mi-shuen-ji-cta -->
  </div><!-- /.mi-shuen-ji -->
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .mi-shuen-ji {
    overflow: hidden;
  }

  .mi-shuen-ji-cta {
    margin-top: 60px;
  }

  @include mq() {
    .mi-shuen-ji-cta {
      margin-top: 120px;
    }
  }

  // mi-shuen-ji-kv
  .mi-shuen-ji-kv {
    padding-top: 20px;
    margin-top: 48px;

    @include mq() {
      margin-top: 100px;
    }
  }

  // mi-shuen-ji-about
  .msj-about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .msj-about-title-lead {
    padding-left: .2em;
    color: var(--color-baby-pink);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2em;
  }

  .msj-about-title-pc {
    display: none;
  }

  .msj-about-list {
    display: grid;
    gap: 30px;
    margin-top: 20px;
  }

  .msj-about-item {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .msj-about-content {
    text-align: justify;
  }

  .msj-about-title-lv3 {
    font-size: 16px;
    font-weight: 700;
  }

  .msj-about-text {
    margin-top: 10px;
  }

  .msj-about-image {
    padding-right: 80px;
    position: relative;

    &::after {
      content: "";
      width: 68px;
      height: 71px;
      background-image: url(/assets/images/mi-shuen-ji/illust-mi-shuen-ji-01.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      right: -2px;
      bottom: -5px;
    }

    &--02 {
      padding: 0 0 0 80px;

      &::after {
        width: 70px;
        height: 75px;
        background-image: url(/assets/images/mi-shuen-ji/illust-mi-shuen-ji-02.svg);
        right: auto;
        bottom: 0;
        left: -5px;
      }
    }
  }

  .msj-about-note {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    small {
      font-size: 14px;
    }
  }

  @include mq() {
    .msj-about-title-lead {
      font-size: 20px;
    }

    .msj-about-title-sp {
      display: none;
    }

    .msj-about-title-pc {
      display: block;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: .045em;
    }

    .msj-about-list {
      gap: 40px;
      margin-top: 60px;
    }

    .msj-about-item {
      flex-direction: row;
      align-items: center;
      gap: 40px;

      &--02 {
        flex-direction: row-reverse;
    }

    .msj-about-content {
      flex: 0 0 450px;

      &--02 {
        position: relative;

        &::after {
            content: "";
            width: 93px;
            height: 93px;
            background-image: url(/assets/images/mi-shuen-ji/illust-mi-shuen-ji-01.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            position: absolute;
            top: -32px;
            right: -32px;

            @media screen and (min-width: 1024px) {
              top: -36px;
              right: -98px;
            }
          }
        }
      }
    }

    .msj-about-title-lv3 {
      font-size: 20px;
    }

    .msj-about-text {
      margin-top: 20px;
    }

    .msj-about-image {
      padding-right: 0;

      &::after {
        display: none;
      }

      &--02 {
        padding: 0;
      }
    }

    .msj-about-note {
      small {
        font-size: 14px;
      }
    }
  }

  // mi-shuen-ji-overview
  .msj-overview {
    margin-top: 60px;
  }

  .msj-overview-list {
    border-top: 1px solid var(--color-baby-pink);
    margin-top: 30px;
    text-align: justify;
  }

  .msj-overview-dl {
    display: flex;
  }

  .msj-overview-dt {
    flex: 0 0 40px;
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-bottom: 1px solid;
    color: var(--color-base);
    background-color: var(--color-baby-pink);
    font-weight: 700;
    letter-spacing: .5em;
    writing-mode: vertical-rl;

    &--last {
      border-bottom: 1px solid var(--color-baby-pink);
    }
  }

  .msj-overview-dd {
    flex: 1 1 auto;
    padding: 20px 16px 20px 16px;
    border-bottom: 1px solid var(--color-baby-pink);
    border-right: 1px solid var(--color-baby-pink);
    background-color: #fff;
    line-height: 1.5;
  }

  .msj-overview-text {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  .msj-overview-head {
    display: block;
    font-weight: 700;

    span {
      display: inline-block;
    }
  }

  .msj-overview-description {
    display: block;
    margin-top: 5px;

    span {
      display: block;
    }
  }

  .msj-overview-note {
    display: block;
    font-size: 14px;
  }

  .msj-overview-deco {
    padding-left: 3px;

    &::before {
      content: "";
      display: inline-block;
      width: 9px;
      height: 10px;
      margin-right: 2px;
      background-color: var(--color-baby-pink);
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    }
  }

  .msj-overview-tel {
    text-decoration: underline;
  }

  .msj-overview-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  @include mq() {
    .msj-overview {
      margin-top: 120px;
      position: relative;

      &::before {
        content: "";
        width: 95px;
        height: 103px;
        background-image: url(/assets/images/mi-shuen-ji/illust-mi-shuen-ji-02.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: absolute;
        top: -85px;
        left: -40px;

        @media screen and (min-width: 950px) {
          top: -41px;
          left: -68px;
        }
      }
    }

    .msj-overview-list {
      margin-top: 40px;
    }

    .msj-overview-dt {
      flex: 0 0 clamp(48px, calc(60 var(--vw-pc)), 60px);

      &--maintenance-cost,
      &--belongings {
        padding-top: 14px;
      }
    }

    .msj-overview-dd {
      padding: 20px 20px 20px clamp(20px, calc(40 var(--vw-pc)), 40px);
    }

    .msj-overview-text {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    .msj-overview-description {
      &--target {
        display: flex;
        align-items: center;
      }
    }

    .msj-overview-note {
      font-size: 14px;

      &--target {
        margin-left: 26px;
      }
    }

    .msj-overview-wrapper {
      display: flex;
      gap: min(48px, calc(48 var(--vw-pc)));
    }

    .msj-overview-deco {
      padding-left: 2px;

      &::before {
        width: 11px;
        height: 13px;
      }
    }

    .msj-overview-tel {
      // タブレット横向き(1024px)まで電話発信有効
      @media screen and (min-width: 1025px) {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
      }
    }

    .msj-overview-button {
      flex-direction: row;
      gap: 20px;
    }
  }

  // mi-shuen-ji--visit
  .msj-visit {
    margin-top: 60px;
    position: relative;

    &::before,
    &::after {
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      z-index: -1;
      translate: -50%;
    }

    &::before {
      width: calc(224 var(--vw-sp));
      height: calc(201 var(--vw-sp));
      background-image: url(/assets/images/global/dec-laurel-01.svg);
      top: calc(-23 var(--vw-sp));
      left: calc(50% + calc(156 var(--vw-sp)));
    }

    &::after {
      width: calc(227 var(--vw-sp));
      height: calc(238 var(--vw-sp));
      background-image: url(/assets/images/global/dec-laurel-02.svg);
      bottom: calc(21 var(--vw-sp));
      left: calc(50% - calc(154 var(--vw-sp)));
    }
  }

  .msj-visit-lead {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }

  .msj-visit-content {
    display: grid;
    gap: 30px;
    margin-top: 30px;
    text-align: justify;
  }

  .msj-visit-title-lv3 {
    padding-bottom: 5px;
    border-bottom: 1px solid;
    color: var(--color-baby-pink);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
  }

  .msj-visit-description {
    display: grid;
    gap: 1.5em;
    margin-top: 10px;
    line-height: 1.5;
  }

  .msj-visit-note {
    font-size: 14px;
  }

  .msj-visit-tel {
    text-decoration: underline;
  }

  .msj-visit-cta {
    display: grid;
    justify-items: center;
    gap: 5px;
    margin-top: 30px;
  }

  .msj-visit-cta-text {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;

    &::before,
    &::after {
      content: "";
      width: 1px;
      height: 11px;
      background-color: currentColor;
      position: absolute;
      top: 2px;
      translate: -50%;
    }

    &::before {
      left: calc(50% - 77px);
      rotate: -22deg;
    }

    &::after {
      left: calc(50% + 77px);
      rotate: 22deg;
    }
  }

  @include mq() {
    .msj-visit {
      margin-top: 120px;

      &::before {
        width: min(682px, calc(682 var(--vw-pc)));
        height: min(612px, calc(612 var(--vw-pc)));
        top: max(-139px, calc(-139 var(--vw-pc)));
        left: min(calc(50% + 514px), calc(50% + calc(514 var(--vw-pc))));
      }

      &::after {
        width: min(690px, calc(690 var(--vw-pc)));
        height: min(725px, calc(725 var(--vw-pc)));
        bottom: min(29px, calc(29 var(--vw-pc)));
        left: max(calc(50% - 563px), calc(50% - calc(563 var(--vw-pc))));
      }
    }

    .msj-visit-lead {
      font-size: 20px;
    }

    .msj-visit-content {
      gap: 40px;
      margin-top: 40px;
    }

    .msj-visit-title-lv3 {
      font-size: 20px;
      line-height: 1.5;
    }

    .msj-visit-note {
      font-size: 16px;
    }

    .msj-visit-tel {
      // タブレット横向き(1024px)まで電話発信有効
      @media screen and (min-width: 1025px) {
        text-decoration: none;
        pointer-events: none;
        cursor: default;
      }
    }

    .msj-visit-cta {
      gap: 10px;
      margin-top: 80px;
    }

    .msj-visit-cta-text {
      font-size: 13px;

      &::before,
      &::after {
        content: "";
        width: 1px;
        height: 15px;
        background-color: currentColor;
        position: absolute;
        top: 2px;
        translate: -50%;
      }

      &::before {
        left: calc(50% - 103px);
        rotate: -22deg;
      }

      &::after {
        left: calc(50% + 103px);
        rotate: 22deg;
      }
    }
  }
</style>
