---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="プライバシーポリシー｜習志野市の幼稚園｜みもみ幼稚園"
  ogType="website"
  description="習志野市のみもみ幼稚園のプライバシーポリシーについてご案内します。個人情報の取り扱いに関する方針をご確認ください。"
>
  <main class="privacy-policy-main">
    <div class="l-container-s">
      <h1 class="privacy-policy-title-lv1">プライバシーポリシー</h1>
      <p class="privacy-policy-lead">みもみ幼稚園（以下「当園」といいます。）は、当園における個人情報の取扱いに関し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）その他の関係法令を遵守するとともに、以下のとおりプライバシーポリシーを定め、その適切な取扱いに努めてまいります。</p>
      <ol class="privacy-policy-list-1st">
        <!-- 1 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の取得</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、個人情報を利用目的の達成に必要な範囲で、適法かつ適正な手段により取得します。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 2 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の利用目的</h2>
          <p class="privacy-policy-text">当園は、当園の保育サービスの提供、職員等の採用活動の実行及び勤務管理等に関連して、それぞれ以下の目的の達成に必要な範囲で、個人情報を利用します。</p>
          <ul class="privacy-policy-list-2nd">
            <li class="privacy-policy-item-2nd">
              <h3 class="privacy-policy-title-lv3">当園の保育サービスの提供</h3>
              <ol class="privacy-policy-list-3rd">
                <li class="privacy-policy-item-3rd">園児募集に関連する連絡</li>
                <li class="privacy-policy-item-3rd">案内、挨拶状等の送付、その他当園の保育サービスに関連する情報提供</li>
                <li class="privacy-policy-item-3rd">各種お問い合わせへの対応</li>
                <li class="privacy-policy-item-3rd">その他、当園の業務の適切かつ円滑な遂行</li>
                <li class="privacy-policy-item-3rd">
                  職員の採用活動
                  <ol class="privacy-policy-list-4th">
                    <li class="privacy-policy-item-4th">職員の採用に関する事務連絡全般</li>
                    <li class="privacy-policy-item-4th">採用後の人事管理及び教育</li>
                  </ol>
                </li>
              </ol>
            </li>
            <li class="privacy-policy-item-2nd">
              <h3 class="privacy-policy-title-lv3">職員等の執務及び勤務管理</h3>
              <ol class="privacy-policy-list-3rd">
                <li class="privacy-policy-item-3rd">業務上必要な名簿の作成、業務上の連絡</li>
                <li class="privacy-policy-item-3rd">勤務管理において法令上要求される諸手続の遂行</li>
                <li class="privacy-policy-item-3rd">その他当園における必要な人事・労務管理の遂行</li>
              </ol>
              <div class="privacy-policy-text privacy-policy-text--photo">
                <p class="privacy-policy-paragraph">また、当園では、保育情報公開のためにホームページを開設し公開しており、その中で保育中の様子の写真を公開することがあります。</p>
                <p class="privacy-policy-paragraph">ホームページには個人が特定できるような園児等の氏名・生年月日や住所等の個人情報は記載しませんが、事前に園児等の写真の使用について拒否等の申し出があった場合には、保護者のご意向を尊重し、写真の掲載を行わないなど、適切に対応いたします。</p>
              </div><!-- /.privacy-policy-text -->
            </li>
          </ul>
        </li>
        <!-- 3 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の目的外利用</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、個人情報を上記の利用目的にのみ利用し、法令の定めによる場合又は別途利用目的を通知・公表している場合を除き、ご本人の同意がない限り、その他の目的には利用しません。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 4 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の第三者提供</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、法令の定めによる場合を除き、ご本人の同意がない限り、個人情報を第三者に提供しません。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 5 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の安全管理措置の実施</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、取り扱う個人情報の漏えい、滅失または毀損等を防止するため、必要かつ適切な措置を実施して、個人情報を適切に管理します。</p>
            <p class="privacy-policy-paragraph">また、当園は、個人情報の取り扱いに関し、職員に対して適切な監督を行なうとともに、個人情報の取扱いを委託する場合には、委託先が個人情報を適切に管理するよう監督します。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 6 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">個人情報の開示、訂正、利用停止等のお求め</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、当園が保有する個人情報について、個人情報保護法に基づく開示、訂正・追加・削除、利用停止・消去、第三者提供の停止または利用目的の通知にかかるご本人からのご請求があった場合には、ご請求頂いた方がご本人であることを確認のうえ、個人情報保護法に従い、適切に対応いたします。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 7 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">プライバシーポリシーの変更</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園は、必要に応じて、本プライバシーポリシーを変更することがあります。</p>
          </div><!-- /.privacy-policy-text -->
        </li>
        <!-- 8 -->
        <li class="privacy-policy-item-1st">
          <h2 class="privacy-policy-title-lv2">お問い合わせ窓口</h2>
          <div class="privacy-policy-text">
            <p class="privacy-policy-paragraph">当園の個人情報の取り扱いに関するご意見、ご質問、開示等のご請求、その他個人情報の取扱いに関するお問い合わせの窓口は、以下のとおりといたします。</p>
            <p class="privacy-policy-paragraph privacy-policy-paragraph--customer-care">
              学校法人飯生学園 みもみ幼稚園<br>
              〒275-0002 千葉県習志野市実籾3-13-15<br>
              TEL：047-473-4724
            </p>
          </div><!-- /.privacy-policy-text -->
        </li>
      </ol>
    </div><!-- /.l-container-s -->
  </main>
</Layout>

<style lang="scss">
  @use '../styles/breakpoints' as *;

  .privacy-policy-main {
    padding-bottom: 60px;
    margin-top: calc(48px + 60px);
    text-align: justify;
    line-height: 1.5;
  }

  .privacy-policy-title-lv1 {
    padding-left: .2em;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .2em;
    text-align: center;
  }

  .privacy-policy-lead {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.8;
  }

  .privacy-policy-list-1st {
    margin-top: 30px;
    list-style: decimal inside;
  }

  .privacy-policy-item-1st {
    margin-top: 20px;

    &::marker {
      color: var(--color-yellow);
      font-size: 16px;
      font-weight: 700;
    }
  }

  .privacy-policy-title-lv2 {
    display: inline;
    padding-bottom: 12px;
    color: var(--color-yellow);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    position: relative;

    &::after {
      content: "";
      width: calc(320 var(--vw-sp));
      height: 1px;
      background-color: currentColor;
      position: absolute;
      bottom: 0;
      left: -1.4em;
    }
  }

  .privacy-policy-text {
    margin-top: 15px;

    &--photo {
      margin-top: 1.6em;
    }
  }

  .privacy-policy-paragraph {
    &--customer-care {
      margin-top: 1.6em;
    }
  }

  .privacy-policy-title-lv3 {
    margin-top: 10px;
    font-weight: 700;
  }

  .privacy-policy-list-3rd {
    list-style: decimal inside;
  }

  .privacy-policy-list-4th {
    margin-left: 1em;
  }

  .privacy-policy-item-4th {
    display: flex;

    &::before {
      content: "①";
    }

    &:nth-child(2)::before {
      content: "②";
    }
  }

  @include mq() {
    .privacy-policy-main {
      padding-bottom: 120px;
      margin-top: calc(100px + 80px);
    }

    .privacy-policy-title-lv1 {
      padding-left: 0;
      font-size: 30px;
      letter-spacing: 0;
    }

    .privacy-policy-lead {
      margin-top: 40px;
    }

    .privacy-policy-item-1st {
      margin-top: 40px;
      overflow: hidden;

      &::marker {
        font-size: 20px;
      }
    }

    .privacy-policy-title-lv2 {
      padding-bottom: 10px;
      font-size: 20px;
      line-height: 1.5;

      &::after {
        width: calc(800 / 880 * 100vw);

        @media screen and (min-width: 880px) {
          width: 800px;
        }
      }
    }

    .privacy-policy-text {
      margin-top: 15px;

      &--photo {
        margin-top: 1.5em;
      }
    }

    .privacy-policy-paragraph {
      &--customer-care {
        margin-top: 1.5em;
      }
    }

    .privacy-policy-title-lv3 {
      margin-top: 20px;
    }

    .privacy-policy-list-3rd {
      margin-top: 5px;
    }
  }
</style>
