<div class="top-kv">
  <div class="top-kv-bg">
    <picture>
      <source media="(max-width: 767px)" srcset="/assets/images/kv/bg-kv-sp@2x.webp">
      <source media="(min-width: 768px)" srcset="/assets/images/kv/bg-kv-pc@2x.webp">
      <img src="/assets/images/kv/bg-kv-sp@2x.webp" alt="どうする？が成長の合図" loading="eager" decoding="async" width="375" height="555">
    </picture>
  </div><!-- /.top-kv-bg -->
  <div class="top-kv-news">
    <h2 class="top-kv-news-heading">最新情報</h2>
    <div class="top-kv-news-wrapper">
      <ul class="top-kv-news-list">
        <li class="top-kv-news-item">
          <a href="/blog/dosokai2025" class="top-kv-news-link">
            <span class="top-kv-news-head">
              <time datetime="2025-05-08" class="top-kv-news-date">2025.05.08</time>
              <span class="top-kv-news-category">お知らせ</span>
            </span>
            <p class="top-kv-news-title">1年生・2年生の方へ 同窓会のご案内</p>
          </a>
        </li>
        <!-- <li class="top-kv-news-item">
          <a href="/blog/mi-shuen-ji-class" class="top-kv-news-link">
            <span class="top-kv-news-head">
              <time datetime="2025-05-01" class="top-kv-news-date">2025.05.01</time>
              <span class="top-kv-news-category">募集案内</span>
            </span>
            <p class="top-kv-news-title">未就園児教室のご案内</p>
          </a>
        </li> -->
        <li class="top-kv-news-item">
          <a href="/blog/mi-shuen-ji-events" class="top-kv-news-link">
            <span class="top-kv-news-head">
              <time datetime="2025-05-01" class="top-kv-news-date">2025.05.01</time>
              <span class="top-kv-news-category">募集案内</span>
            </span>
            <p class="top-kv-news-title">令和7年度 未就園児イベントのお知らせ</p>
          </a>
        </li>
      </ul>
    </div><!-- /.top-kv-news-wrapper -->
  </div><!-- /.top-kv-news -->
</div><!-- /.top-kv -->

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .top-kv {
    margin-top: 48px;
  }

  .top-kv-bg {
    width: 100%;
    max-width: 480px;
    margin: auto;
  }

  .top-kv-news {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(320 var(--vw-sp));
    max-width: 480px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid;
    margin: 19px auto 0;
    background-color: #fffefb;
  }

  .top-kv-news-heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
  }

  .top-kv-news-list {
    display: grid;
    gap: 8px;
  }

  .top-kv-news-item {
    &:not(:last-child) {
      padding-bottom: 8px;
      border-bottom: 1px solid;
    }
  }

  .top-kv-news-link {
    position: relative;

    &::after {
      // content: "";
      width: 12px;
      height: 10px;
      margin: auto;
      background-image: url(/assets/images/global/icon-arrow-right.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 4px;
      filter: invert(34%) sepia(63%) saturate(339%) hue-rotate(347deg) brightness(99%) contrast(93%);
    }
  }

  .top-kv-news-head {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 10px;
  }

  .top-kv-news-date {
    font-weight: 700;
  }

  .top-kv-news-category {
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid;
    line-height: 1.35;
  }

  .top-kv-news-title {
    margin-top: 5px;
    font-weight: 700;
    line-height: 1.2;
  }

  @include mq() {
    .top-kv {
      margin-top: 100px;
      position: relative;
    }

    .top-kv-bg {
      width: 100%;
      max-width: 1280px;
      margin: auto;
    }

    .top-kv-news {
      flex-direction: row;
      gap: 0;
      width: clamp(740px, calc(763 / 1110 * 100vw), 763px);
      max-width: initial;
      padding: 20px 24px 16px;
      margin: 0;
      position: absolute;
      top: calc(580 / 1280 * 100vw);
      left: 50%;
      z-index: 10;
      translate: -50%;

      @media screen and (min-width: 1110px) {
        width: 763px;
        padding: 20px 37px 16px;
        left: calc(50% - min(170px, calc(170 / 1280 * 100vw)));
      }

      @media screen and (min-width: 1280px) {
        width: 763px;
        top: 580px;
        left: calc(50% - 170px);
      }
    }

    .top-kv-news-heading {
      flex: 0 0 calc(80px + 38px);
      font-size: 20px;
      line-height: 1.5;
    }

    .top-kv-news-list {
      gap: 10px;
      width: 570px;
    }

    .top-kv-news-item {
      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }

    .top-kv-news-link {
      display: flex;
      gap: 30px;
    }

    .top-kv-news-head {
      flex: 0 0 180px;
      gap: 32px;
      font-size: 12px;
    }

    .top-kv-news-category {
      padding: 1px 10px;
    }

    .top-kv-news-title {
      flex: 0 0 328px;
      margin-top: 0;
    }
  }

  @media (any-hover: hover) {
    .top-kv-news-link {
      transition: color .3s ease;

      &:hover {
        color: var(--color-baby-pink);

        &::after {
          filter: invert(97%) sepia(91%) saturate(6024%) hue-rotate(294deg) brightness(100%) contrast(96%);
        }
      }

      &::after {
        transition: filter .3s ease;
      }
    }
  }
</style>
