---
import Layout from "../../layouts/Layout.astro";
import PageKv from "../../components/PageKv.astro";
import ButtonLink from "../../components/button/ButtonLink.astro";
import Cta from "../../components/Cta.astro";
---

<Layout
  subTitle="お知らせ - 令和7年度 未就園児イベントのお知らせ"
  ogType="article"
  description="未就園児対象イベントを5/31・6/21に開催！親子体操や水遊びなど、園の雰囲気を体験しながら楽しく過ごせます。参加申込受付中。"
  noIndex="true"
>

  <!-- blog-single-kv -->
  <div class="blog-single-kv">
    <PageKv
      title="お知らせ"
      imageSrcSp="/assets/images/kv/page-kv/pic-kv-blog-sp@2x.webp"
      imageSrcPc="/assets/images/kv/page-kv/pic-kv-blog-pc@2x.webp"
    />
  </div><!-- /.blog-single-kv -->

  <main class="blog-single-main l-section-body">
    <div class="l-container-s">
      <article class="blog-single-article">
        <div class="blog-single-head">
          <h1 class="blog-single-title">令和7年度 未就園児イベントのお知らせ</h1>
          <div class="blog-single-meta">
            <span class="blog-single-category">募集案内</span>
            <time datetime="2025-05-01" class="blog-single-date">2025.05.01</time>
          </div><!-- /.blog-single-meta -->
        </div><!-- /.blog-single-head -->
        <div class="blog-single-thumbnail">
          <img src="/assets/images/blog/pic-blog-thumbnail-mi-shuen-ji-events.webp" alt="" loading="eager" decoding="async" width="800" height="512">
        </div><!-- /.blog-single-thumbnail -->

        <!-- single-content (microCMSリッチエディタより) -->
        <div class="blog-single-content">
          <h2 class="blog-single-content-heading-lv2">5月・6月の未就園児イベントのご案内</h2>
          <p class="blog-single-content-paragraph">令和7年度の未就園児イベントを、5月31日(土)と6月21日(土)に開催いたします！<br>
            「幼稚園ってどんなところ？」「思いっきり遊びたい！」というお子様、大歓迎です。未就園児のお子様であれば、どなたでもご参加いただけます。習志野市・船橋市・八千代市・千葉市などの近隣地域にお住まいの方に多くご利用いただいています。<br>
            幼稚園の遊びや雰囲気を体験できる貴重な機会となりますので、ぜひお気軽に遊びにいらしてください！</p>

          <h3 class="blog-single-content-heading-lv3">お申し込み方法</h3>
          <p class="blog-single-content-paragraph">当園の公式LINEをご登録後、応募フォームよりお申し込みください。<br>
            お電話でもお申し込みいただけます。(平日10:00～17:00)<br>
            みもみ幼稚園 TEL：047-473-4724</p>

          <h3 class="blog-single-content-heading-lv3">ご参加にあたってのお願い</h3>
          <p class="blog-single-content-paragraph">・対象は未就園児のお子様に限ります。(保護者様同伴のご兄弟は参加可能です)<br>
            ・雨天決行ですが、荒天の場合は中止となることがあります。当日朝にホームページをご確認ください。<br>
            ・暑さ対策(水分補給・帽子など)のご準備をお願いします。※園内でのおやつ等はご遠慮ください。<br>
            ・駐車場は30台までご利用いただけます。久保歯科医院の脇の道を入り、右手側にございます。<br>
            ・駐輪場もご用意しています。</p>

          <h2 class="blog-single-content-heading-lv2">【5月31日(土)開催】親子で遊ぼう！体操の先生と一緒に親子体操☆</h2>
          <p class="blog-single-content-paragraph">日時：5月31日(土) 9:30〜11:00 (親子体操は10:00頃〜開始予定)<br>
            ※体操は2歳児向けの内容を予定しています。</p>
          <p class="blog-single-content-paragraph">内容：<br>
            体操の先生と一緒に親子体操・絵の具遊び・シャボン玉遊び・アスレチック広場(どんぐり広場)で自由に遊ぶことができます。</p>
          <p class="blog-single-content-paragraph">持ち物：<br>
            動きやすい服装・室内履き(裏がきれいな外靴も可)・飲み物</p>

          <h2 class="blog-single-content-heading-lv2">【6月21日(土)開催】おもいっきり水遊び！</h2>
          <p class="blog-single-content-paragraph">日時：6月21日(土) 9:30～10:30</p>
          <p class="blog-single-content-paragraph">内容：<br>
            水遊び・魚釣り・色水遊び・シャボン玉遊びなど、夏ならではの遊びが楽しめます。アスレチック広場(どんぐり広場)で自由に遊ぶことができます。</p>
          <p class="blog-single-content-paragraph">持ち物：<br>
            濡れても良い服装(水着やサンダルも可)・着替え・体を拭くタオル・飲み物</p>

          <h3 class="blog-single-content-heading-lv3">ご参加お待ちしております！</h3>
          <p class="blog-single-content-paragraph">お子さまの「はじめて」に、安心と楽しさを。<br>
            短い時間ですが、思いっきり、笑顔溢れる時間になりますようご準備させていただきます。
            また、保護者さまの交流の場でもありたいと考えています。ご質問、ご相談等も承りますので、お気軽にお声がけください。みもみ幼稚園でお会いできることを、職員一同楽しみにしています！</p>
        </div><!-- /.blog-single-content -->
      </article>
      <div class="blog-single-button">
        <ButtonLink
          buttonText="お知らせ一覧を見る"
          ButtonHref="/news/page/1"
        />
      </div><!-- /.blog-single-button -->
    </div><!-- /.l-container-s -->
  </main>

  <div class="blog-single-cta">
    <Cta />
  </div><!-- /.blog-single-cta -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .blog-single-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .blog-single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 10px;
    background-size: 12px 1px;
    background-image: linear-gradient(to right, var(--color-baby-pink) 6px, transparent 6px);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 1.5;
  }

  .blog-single-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
  }

  .blog-single-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-single-category {
    padding: 3px 25px;
    border-radius: 3px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
  }

  .blog-single-date {
    font-size: 10px;
    font-weight: 700;
  }

  .blog-single-thumbnail {
    margin: 32px 0;
  }

  .blog-single-content {
    padding-bottom: 8px;
    text-align: justify;
  }

  .blog-single-content-heading-lv2 {
    padding: 5px 20px;
    margin: 40px 0 32px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;
  }

  .blog-single-content-paragraph {
    margin: 24px 0;
  }

  .blog-single-content-heading-lv3 {
    display: grid;
    gap: 10px;
    margin: 32px 0 24px;
    color: var(--color-baby-pink);
    font-weight: 700;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: currentColor;
    }
  }

  .blog-single-button {
    text-align: right;
  }

  .blog-single-cta {
    margin-top: 60px;
  }

  @include mq() {
    .blog-single-kv {
      margin-top: 100px;
    }

    .blog-single-head {
      padding-bottom: 20px;
    }

    .blog-single-title {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 1.8;
    }

    .blog-single-category {
      padding: 3px 30px;
    }

    .blog-single-date {
      font-size: 14px;
    }

    .blog-single-thumbnail {
      margin: 40px 0;
    }

    .blog-single-content {
      padding-bottom: 28px;
    }

    .blog-single-content-heading-lv2 {
      padding: 5px 20px;
      margin: 48px 0 40px;
      font-size: 20px;
    }

    .blog-single-content-paragraph {
      margin: 32px 0;
    }

    .blog-single-content-heading-lv3 {
      margin: 40px 0 32px;
    }

    .blog-single-button {
      text-align: right;
    }

    .blog-single-cta {
      margin-top: 120px;
    }
  }
</style>
