---
import Layout from "../../layouts/Layout.astro";
import PageKv from "../../components/PageKv.astro";
import ButtonLink from "../../components/button/ButtonLink.astro";
import Cta from "../../components/Cta.astro";
---

<Layout
  subTitle="お知らせ - ホームページをリニューアルしました！"
  ogType="article"
  description="みもみ幼稚園のホームページがリニューアル！公式LINEや保護者専用ページ「おたより」も新設し、より見やすく便利になりました。"
  noIndex="true"
>

  <!-- blog-single-kv -->
  <div class="blog-single-kv">
    <PageKv
      title="お知らせ"
      imageSrcSp="/assets/images/kv/page-kv/pic-kv-blog-sp@2x.webp"
      imageSrcPc="/assets/images/kv/page-kv/pic-kv-blog-pc@2x.webp"
    />
  </div><!-- /.blog-single-kv -->

  <main class="blog-single-main l-section-body">
    <div class="l-container-s">
      <article class="blog-single-article">
        <div class="blog-single-head">
          <h1 class="blog-single-title">ホームページをリニューアルしました！</h1>
          <div class="blog-single-meta">
            <span class="blog-single-category">お知らせ</span>
            <time datetime="2025-05-01" class="blog-single-date">2025.05.01</time>
          </div><!-- /.blog-single-meta -->
        </div><!-- /.blog-single-head -->
        <div class="blog-single-thumbnail">
          <img src="/assets/images/blog/pic-blog-thumbnail-site-renewal.webp" alt="" loading="eager" decoding="async" width="800" height="512">
        </div><!-- /.blog-single-thumbnail -->

        <!-- single-content (microCMSリッチエディタより) -->
        <div class="blog-single-content">
          <h2 class="blog-single-content-heading-lv2">みもみ幼稚園のホームページが新しく生まれ変わりました</h2>
          <p class="blog-single-content-paragraph">日頃より、みもみ幼稚園のホームページをご覧いただき、誠にありがとうございます。</p>
          <p class="blog-single-content-paragraph">この度、皆さまにとってより見やすく、使いやすいホームページとなるよう、全面的にリニューアルを行いました。園の様子やイベント情報など、最新情報を分かりやすくお届けできるよう構成を改善しております。</p>
          <p class="blog-single-content-paragraph">今後も順次、新しいページやコンテンツを公開してまいります。</p>
          <p class="blog-single-content-paragraph">ここでは、主なリニューアルポイントと新設されたページをご紹介いたします。</p>

          <h2 class="blog-single-content-heading-lv2">主なリニューアル内容と新しいコンテンツ</h2>
          <h3 class="blog-single-content-heading-lv3">公式LINEを開設しました</h3>
          <p class="blog-single-content-paragraph">公式LINEを新たに開設いたしました。</p>
          <p class="blog-single-content-paragraph">今後はLINEを通じて、お知らせや未就園児向けの体験イベント情報など、リアルタイムで受け取ることが可能です。ぜひご登録いただき、ご活用ください！</p>
          <p class="blog-single-content-paragraph">また、ホームページやLINEを通じて、日々の子どもたちの様子や園からの最新情報を発信してまいります。</p>

          <h3 class="blog-single-content-heading-lv3">保護者さま専用ページ「おたより」を新設</h3>
          <p class="blog-single-content-paragraph">保護者の皆様向けに、「おたより」ページを開設いたします。</p>
          <p class="blog-single-content-paragraph">①「紙資源の削減」、「いつでもどこでも確認が可能」、「幼稚園の業務改善」等の観点から、配布物のペーパーレス化を促進してまいりたいと思います。幼稚園が重要だと考えるお知らせについては従来通り紙媒体での配布を継続する予定です。</p>
          <p class="blog-single-content-paragraph">②園からのお知らせや、園での子どもたちの様子を写真付きでご覧いただけます。<br>
            ※ご利用には、保護者様専用のパスワードが必要です。</p>

          <h3 class="blog-single-content-heading-lv3">お知らせページで「みもみ日記」の発信をスタート</h3>
          <p class="blog-single-content-paragraph">ホームページ内の「お知らせページ」より、みもみ幼稚園の様子を綴った「みもみ日記」を発信してまいります。園の行事や日常のひとコマなど、みもみ幼稚園の温かな雰囲気をどなたでもご覧いただけるコンテンツです。</p>

          <h3 class="blog-single-content-heading-lv3">今後とも、みもみ幼稚園をよろしくお願いいたします</h3>
          <p class="blog-single-content-paragraph">これからも、習志野市・船橋市・八千代市・千葉市など近隣地域にお住まいの保護者さまにとって、「親しみやすい幼稚園」「役立つホームページ」を目指してまいります。<br>
            どうぞ今後とも、みもみ幼稚園のホームページをご活用いただけますよう、よろしくお願い申し上げます。</p>

        </div><!-- /.blog-single-content -->
      </article>
      <div class="blog-single-button">
        <ButtonLink
          buttonText="お知らせ一覧を見る"
          ButtonHref="/news/page/1"
        />
      </div><!-- /.blog-single-button -->
    </div><!-- /.l-container-s -->
  </main>

  <div class="blog-single-cta">
    <Cta />
  </div><!-- /.blog-single-cta -->
</Layout>

<style lang="scss">
  @use '../../styles/breakpoints' as *;

  .blog-single-kv {
    padding-top: 20px;
    margin-top: 48px;
  }

  .blog-single-head {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 10px;
    background-size: 12px 1px;
    background-image: linear-gradient(to right, var(--color-baby-pink) 6px, transparent 6px);
    background-repeat: repeat-x;
    background-position: left bottom;
    line-height: 1.5;
  }

  .blog-single-title {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
  }

  .blog-single-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-single-category {
    padding: 3px 25px;
    border-radius: 3px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
  }

  .blog-single-date {
    font-size: 10px;
    font-weight: 700;
  }

  .blog-single-thumbnail {
    margin: 32px 0;
  }

  .blog-single-content {
    padding-bottom: 8px;
    text-align: justify;
  }

  .blog-single-content-heading-lv2 {
    padding: 5px 20px;
    margin: 40px 0 32px;
    background-color: var(--color-baby-pink);
    color: var(--color-base);
    font-size: 16px;
    font-weight: 700;
  }

  .blog-single-content-paragraph {
    margin: 24px 0;
  }

  .blog-single-content-heading-lv3 {
    display: grid;
    gap: 10px;
    margin: 32px 0 24px;
    color: var(--color-baby-pink);
    font-weight: 700;

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      background-color: currentColor;
    }
  }

  .blog-single-button {
    text-align: right;
  }

  .blog-single-cta {
    margin-top: 60px;
  }

  @include mq() {
    .blog-single-kv {
      margin-top: 100px;
    }

    .blog-single-head {
      padding-bottom: 20px;
    }

    .blog-single-title {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 1.8;
    }

    .blog-single-category {
      padding: 3px 30px;
    }

    .blog-single-date {
      font-size: 14px;
    }

    .blog-single-thumbnail {
      margin: 40px 0;
    }

    .blog-single-content {
      padding-bottom: 28px;
    }

    .blog-single-content-heading-lv2 {
      padding: 5px 20px;
      margin: 48px 0 40px;
      font-size: 20px;
    }

    .blog-single-content-paragraph {
      margin: 32px 0;
    }

    .blog-single-content-heading-lv3 {
      margin: 40px 0 32px;
    }

    .blog-single-button {
      text-align: right;
    }
  }

  .blog-single-cta {
    margin-top: 120px;
  }
</style>
